[2017-01-18 18:25] boshek opened #1 "Possibly already exists"
A fairly well developed package already exists over at https://github.com/gavinsimpson/canadaHCD

[2017-01-18 19:36] steffilazerte commented on #1
Thanks for the info, looks like we were developing our packages side by side almost at the same time (although they were probably a month or two ahead of me).

I wouldn't stop or remove `envirocan` now, though, because it is nearly fully developed. I'd say it was fully developed, but it hasn't had enough use for me to be confident that there are no bugs left, and I definitely need to test the inte

[2017-01-26 20:31] #1 closed

[2017-03-20 17:32] steffilazerte opened #2 "CRON jobs for Travis CI"
Have Travis CI rebuild the package at intervals to catch any problems that occur if Environment and Climate Change Canada make changes to their side of things.

[2017-03-20 20:07] steffilazerte opened #3 "Add .onLoad function to prevent NOTE relating to NSE"
To avoid NOTES on CRAN check which detect pseudo unassigned variables resulting from NSE

[2017-03-21 12:57] steffilazerte opened #5 "Encoding of special characters"
Quality column shows incorrectly encoded characters

[2017-03-28 13:20] #2 closed

[2017-03-28 18:35] #5 closed

[2017-04-05 18:41] steffilazerte opened #7 "Check tests for CRAN"
Check tests and make sure that they're CRAN friendly, if not, add skip on CRAN

[2017-04-05 20:44] boshek opened #8 "Add listcol functionality"
Not for upcoming CRAN submission. I'm uncertain how to ultimately implement this as some user might not like it. Perhaps just as a listcol = TRUE argument in weather().

[2017-04-07 12:35] steffilazerte opened #9 "Some provinces NA in `stations`"

[2017-04-07 12:45] steffilazerte commented on #8
How did you envision this looking like in the end? Would the user be returned a data frame with a column of station ids and a column with listed station data (as in below)?

We could either just show users how to do it themselves:

**Unnested**

[code]

**Nested**
[code]

But as you point out, a simple TRUE/FALSE argument could be used right at the end of the weather function to apply the `nest()`

[2017-04-07 12:56] steffilazerte opened #10 "Anyway for user to update internal stations data frame?"
Figure out a way for users to update internal stations data frame. They can download a new stations data frame, but it doesn't update the internal one

[2017-04-07 15:56] boshek commented on #8
Agreed completely about which is a default. And your example is almost is. But more like this.:

[code]
The thing I need to think about a little more is that we will need some conditionals depending on whether the data is hourly/daily etc. We also could also do it like this:

[code]
Which would help with manipulation. Devil is in the details here though I totally agree that default should still ju

[2017-04-07 16:47] boshek commented on #7
I do not believe any tests are failing on my windows 10 machine. It is worth submitting this to winbuilder as well but that would one of the last things we do.

[2017-04-10 12:25] #3 closed

[2017-04-10 12:27] steffilazerte opened #13 "Flesh out descriptions of included datasets"

[2017-04-10 12:38] steffilazerte commented on #8
Yes those would be nice ways of keeping the data organized.

One option would be to set the default to 'date' for hourly or daily data and 'month' or 'year' for monthly data. We could even make the `listcols` argument specify the grouping structure with three potential options: `listcols = "day"`, `listcols = "month"`, `listcols = "year"` (defaulting to one level up from the interval argument, i.e

[2017-04-10 21:19] boshek commented on #8
This is a great idea. Do you think we should add this ahead or after a CRAN submission?

[2017-04-10 21:31] steffilazerte commented on #8
Let's go ahead and add this before CRAN, I don't think it'll take too long, and I still have a couple of other things I need to figure out before the submission, anyway.

[2017-04-11 22:58] boshek commented on #13
I did this in `sam_work` for `kamloops` and `pg`. All I did was add the columns. Is that what you were thinking?

[2017-04-12 11:24] steffilazerte commented on #13
Yup, just following the example from <http://r-pkgs.had.co.nz/data.html> under Documenting Datasets

[2017-04-13 18:53] boshek commented on #13
Fixed and committed to `sam_work`.

[2017-04-13 18:53] #13 closed

[2017-04-17 15:41] boshek commented on #8
Addressed with pull request #14

[2017-04-17 15:41] #8 closed

[2017-04-17 15:43] boshek opened #15 "Need a vignette"
In advance of a CRAN submission I think it is prudent to have a good vignette built. The README is basically there but I think we could highlight a few more of the intricacies. Particularly I think we could flesh out the time interval argument explanation. That wasn't immediately obvious to me.

[2017-04-25 12:16] steffilazerte opened #16 "Travis and appveyor should test with r-devel if they don't already"

[2017-05-25 19:58] #16 closed

[2017-05-25 20:25] #9 closed

[2017-05-29 18:30] boshek opened #17 "Package name"
I think that we might consider a different package name for a couple reasons:

- Environment Canada might object to us calling it by their name
- It isn't totally descriptive of what the package does
- It doesn't encompass all the other types of environmental monitoring that ec does.

Some other suggestions:
- canweatheR
- canadaweatheR
- canmeteoR

[2017-05-29 18:40] boshek opened #18 "Quiet mode and progress bar for weather"
- Need an argument so that `weather()` doesn't always have output.
- A progress bar might be useful though I'm not totally clear how that interact with web scraping

[2017-06-02 14:53] steffilazerte commented on #18
I always like 'verbose = FALSE/TRUE' for output messages.

A progress bar could work if there are multiple downloads (like downloading a year's worth of hourly data), but it won't apply to single downloads... Which I guess is fine, because single downloads go pretty fast.

I'll look into it

[2017-06-02 15:12] steffilazerte commented on #17
Argh, you're right. I'm not 100% sold on the name options, but I agree that we should probably try to find something better. I don't think I like 'can' because that's not really clearly Canadian (but see below!).

My problem is that I don't like names that are too long, and I don't like capitals (makes things confusing as people always have to remember whether or not there was a capital, and where

[2017-06-02 16:59] steffilazerte opened #19 "envirocan-package"
Add basic information to the man page for this item

[2017-06-02 17:23] steffilazerte commented on #15
By the way, I've started working on updating the README vignette. I'm looking into using [pkgdown](http://hadley.github.io/pkgdown/) to turn the README/vignettes into a simple website to host on github.

[2017-06-02 18:40] boshek commented on #15
Oh yeah - the pkgdown is so good. I think there might be a distinction between the README and vignette too. Have a look at the dplyr CRAN page: https://cran.r-project.org/web/packages/dplyr/index.html
They have general usage covered by the README then more specific applications covered by vignettes. I wonder if the multiple station searches (using purrr)  and then interpolate and add data stuff mi

[2017-06-02 18:42] boshek commented on #18
You are right on the progress I think. Might not be useful right now.

The thing that I don't love about verbose is that it isn't totally clear what it means. I prefer `quiet=FALSE/TRUE`. But not a huge deal.

[2017-06-02 18:44] steffilazerte commented on #15
That makes sense, the README can cover immediate usage (find station, get data), the vignettes more advanced/specific applications

[2017-06-02 18:53] boshek commented on #17
Well one option is to actually use R to help us figure this out:
[code]
[code]
Or

[code]

I like weathercan. And I like the image.

[2017-06-07 15:07] #18 closed

[2017-06-07 15:39] #15 closed

[2017-06-08 17:20] steffilazerte commented on #17
Alright, let's do weathercan :)

[code]

[2017-06-08 17:21] steffilazerte commented on #17
I'll rename it in my branch

[2017-06-08 17:51] #19 closed

[2017-06-08 17:51] #17 closed

[2017-06-08 18:50] steffilazerte opened #21 "weather download on invalid date range should return informative error message"

[2017-06-08 19:30] #7 closed

[2017-06-11 03:12] boshek opened #23 "dplyr 0.70"
I think we should test this with all the changes in dplyr 0.70 especially the tidyeval programming stuff. And I think we should do this ahead of a cran submission. Of course this means learning all that new stuff but it probably has to happen at some point anyway.

[2017-06-12 12:43] steffilazerte commented on #23
I agree. The new .data and .env look soooo useful to me, too!

[2017-06-12 16:43] boshek commented on #23
For what it is worth, `weathrecan` passes all checks and tests with dplyr 0.70 on Windows 10 machine running R 3.3.3. I'll update R and check back to make sure that is still the case.

[2017-06-15 13:51] steffilazerte commented on #23
Oh good, I'll update the DESCRIPTION dplyr version and see how the checks go on travis and appveyor

[2017-06-15 16:38] boshek commented on #23
Do you know if travis and appveyor are running with 0.7.0?

[2017-06-15 16:46] steffilazerte commented on #23
They should if we specify in the DESCRIPTION that 0.7.0 is required. I'm sure of this, in fact, because the Mac tests on travis.ci are failing (https://travis-ci.org/steffilazerte/weathercan/jobs/243292836) because "Package required and available but unsuitable version: ‘dplyr’"

This makes me think that dplyr 0.7.0 isn't available on CRAN for macs yet...? No problem with windows (appveyor) or lin

[2017-06-16 03:22] boshek commented on #23
You are correct, good thought. Still on 0.70 for El Capitan at least. In fact, it looks like dplyr 0.7.0 is failing all all sorts of tests/platforms. https://cran.r-project.org/web/checks/check_results_dplyr.html.

Wait and see?

[2017-06-16 11:11] steffilazerte commented on #23
Yes, let's wait and see. It'll give me a chance to rewrite all the filter_(), select_(), etc. functions (as those are being discontinued).

[2017-06-16 11:15] #21 closed

[2017-06-17 15:25] boshek opened #25 "Package best practices"
This is note to remind myself to run these tests on weathercan:

http://www.masalmon.eu/2017/06/17/automatictools/

[2017-07-08 04:08] boshek opened #26 "Only import functions we need"
From goodpractices::gp(): Do not import packages as a whole, as this can cause name clashes between the imported packages. Instead, import only the specific functions you need.

[2017-07-10 12:34] #25 closed

[2017-07-12 21:34] adamhsparks commented on #10
I'm not sure if you've dealt with this issue yet or not, but since it's still open I'll just offer what we have as an example. We've got a function to update our Oz BoM internal stations data frames in [bomrang](https://github.com/ToowoombaTrio/bomrang) that might be useful for you to refer to.

Note that this is the most recent version in the devel branch the data frames are not going to be expos

[2017-07-12 22:09] steffilazerte commented on #10
Thanks, I'll take a look, we haven't figure this one out yet, so I'm eager to see what you've got working!

[2017-07-15 03:35] boshek commented on #26
I see that [here](https://github.com/steffilazerte/weathercan/blob/master/R/interpolate.R#L123) you've inserted` @import` rather than [here](https://github.com/steffilazerte/weathercan/blob/master/R/help.R#L65). If there any reason for that? I feel like having all the imports and importfroms might be better in one location? I'm not totally sure what the convention is. Any strong feelings either wa

[2017-07-17 17:13] steffilazerte commented on #26
I think my rational was that I import only when really really necessary (and I only used @import lubridate to get at %within%, but if you know how to reference a special function directly, lubridate::`%within%`?? I'd love to do that instead).
So I didn't want to use import lubridate everywhere, only when the function was referenced. No strong feelings either way, except I'd rather not use @import

[2017-09-08 16:18] steffilazerte opened #28 "Fix headings and toc in Interpolation vignette"

[2017-09-13 14:56] steffilazerte opened #29 "Add logo to weathercan website"

[2017-09-20 17:50] steffilazerte opened #30 "`stations_search()` should check that name isn't coordinate"

[2017-09-20 17:54] steffilazerte opened #31 "message returned by stations_search() by coords"
When no stations within the distance (dist) specified, the message doesn't make sense.

[2017-09-21 15:34] steffilazerte opened #32 "Add index data frame"
Shows original column names, `weathercan` column names and units. Possibly also definitions from http://climate.weather.gc.ca/glossary_e.html ?

[2017-09-21 15:35] steffilazerte opened #33 "weather() can't find data when format = FALSE"

[2017-09-21 16:51] steffilazerte opened #34 "Remove deprecated tidyverse_ functions"
i.e. filter_, etc.

[2017-09-21 16:53] steffilazerte opened #35 "station_search() add option to search by start/end dates"

[2017-09-22 21:05] #32 closed

[2017-09-25 16:10] steffilazerte opened #36 "Add suggested citation including ECCC website and weathercan"

[2017-09-25 16:28] steffilazerte opened #37 "Default to UTC for multiple timezones"
Allow the options of converting times to 'relative' time. I.e. if multiple timeszones, __force__ each timezone to UTC (__do not convert__). This means that 9am in TZ1 corresponds to 9am UTC, also 9am in TZ2 corresponds to 9am UTC. This way daily patterns are directly comparable, but the timezone attribute is a dummy variable.

[2017-09-25 16:36] boshek commented on #37
I'd actually argue that all the data should in UTC and leave it up to the user to convert.

[2017-09-25 17:04] steffilazerte commented on #37
Right now it follows what ECCC has: local timezone but no daylight savings (e.g. Etc/GMT-6). If the user wants it to be their timezone, they can specify that with the `tz_disp` argument, including UTC. If they download data from multiple timezones, they're all converted to the first timezone, so for __multiple timezones__, it would make sense to instead make the default timezone UTC.

In all other

[2017-09-26 15:27] boshek commented on #37
Interesting. Obviously your final call but I think the simplest option is to leave all dates in the same
timezone (UTC) and leave it up to the user. I think the argument `relative_tz` introduces confusion
because the user has to think about the timezone. If everything is always in UTC then the user can essentially forget about it. It is interesting that other ECCC datasource (hydrometrics, I think

[2017-09-26 18:11] steffilazerte commented on #37
I'll leave out the `relative_tz` argument and make it so downloads with multiple timezones default to UTC. I'll leave the default for single timezones as the local tz, though.

[2017-09-29 16:22] #33 closed

[2017-09-29 16:22] #30 closed

[2017-09-29 16:22] #31 closed

[2017-09-29 16:24] #29 closed

[2017-09-29 16:25] #28 closed

[2017-10-10 15:09] steffilazerte opened #38 "Add normals data"
- Add climate normals data base
- Add ability to update climate normals data frame
- Add function to extract climate normals for a given station? (would pretty much just be a dplyr filter wrapper)
- ftp://client_climate@ftp.tor.ec.gc.ca/Pub/Normals/English/

OR

Implement a normals calculation
- Definitely would be faster and would require less bundled data
- Possibly more prone to errors?

[2017-10-10 18:33] boshek commented on #38
I tend to think that using the ECCC values makes the most sense because decisions in summarizing the data  may have been made that we will be unaware off. The opens up a situation where we could have different data (if I am understanding this correctly). On the other hand though, since the climate normals are not current, we may be able to update them. It also may be more to maintain if we create

[2017-10-10 18:48] steffilazerte commented on #38
We totally can, the only drawback is that the files bundle stations data so we'll have to download the correct file, then extract the data (and the files are generally 5-8mb). It's not the end of the world, but would be slow... Alternatively, we could bundle the data in weathercan as an internal dataset, but that would be a large file to have. So as I see it we have three options:

1. Function to

[2017-10-10 23:06] boshek commented on #38
Thinking about this a little more I think option 3 is probably the best. I think the issue is that it is also the most work. I hadn't totally understood the .csv files correctly so thanks for explaining that.

[2017-10-11 14:48] steffilazerte commented on #38
Yeah, it's really too bad about .csv files because that would definitely be the best way to go about it. I agree that option 3 is probably the most work :) we'll see how much time I have!

[2017-10-11 14:50] steffilazerte commented on #38
Actually there's also option 4) Scrape the data from the website: http://climate.weather.gc.ca/climate_normals/results_1981_2010_e.html?searchType=stnName&txtStationName=brandon&searchMethod=contains&txtCentralLatMin=0&txtCentralLatSec=0&txtCentralLongMin=0&txtCentralLongSec=0&stnID=3471&dispBack=0

But this is prone to errors and may be susceptible to small website changes.

[2017-10-17 14:26] steffilazerte opened #39 "Add httr::stop_for_status"

[2017-10-19 18:23] paleolimbot opened #40 "PR on rclimateca"
Hi, lots of duplication on the ['rclimateca' package](https://github.com/paleolimbot/rclimateca). Haven't updated it for a while given PhD school constraints, but feel free to PR missing features that are available here that are not currently available in rclimateca. Cheers!

[2017-10-20 15:46] steffilazerte commented on #40
Thanks! Unfortunately, we only heard about rclimateca about a month ago. Looking at the dates, I think we must have been developing the packages around roughly the same time. Ah well!

[2017-10-31 14:35] steffilazerte opened #41 "Changes to as_date in lubridate v1.7.0 create error"

[2017-10-31 17:15] #40 closed

[2017-10-31 17:43] steffilazerte commented on #26
Turns out I didn't truly understand that the `@import` associated with a particular function applied to the whole package (I thought it applied only to the function in question). I've fixed all imports to either be explicit (i.e. lubridate::\`%within%\`(x, y)) or central (i.e. put in the help.R file, as you suggested).

[2017-11-01 15:25] boshek commented on #36
Where are you thinking this would go? Is it something like this: https://github.com/bcgov/tidyhydat#citation

[2017-11-01 15:36] steffilazerte commented on #36
Yes, exactly!

Perhaps with an additional comment on how to cite the ECCC data as well?

[2017-11-02 13:01] ebourlon commented on #41
Thank. I tried to change the as_date for other function but was not knowing ymd. This edit was working yesterday... but this morning I now have another issue on the same lines. The error says:
Error in mutate_impl(.data, dots) :
  Evaluation error: 'origin' must be supplied.
Has the command ymd changed overnight?

[2017-11-02 13:40] ebourlon commented on #41
The weathercan v0.2.2  is still working ok.

[2017-11-02 14:33] steffilazerte commented on #41
Most of these changes haven't been pushed to the master branch yet, as we're still trying to fix some underlying issues. `ymd` is from the lubridate package and it's behaviour may change with the package version of lubridate you have. We're still troubleshooting at the moment, hopefully it'll be fixed soon!

[2017-11-02 19:57] ebourlon commented on #41
Thank you so much. We depend a lot on your packages to get our weather data
for plume dispersion modeling. Some computers were not updated so we are
still good.
I'll try things on thevweater script on my side as well.
Cheers,
Evelise

On Nov 2, 2017 11:33, "Steffi LaZerte" <notifications@github.com> wrote:

[2017-11-03 14:40] ebourlon commented on #41
Good morning Steffi,
The new lubricate package does not create any error 😀
Thank for Weather can.  It's such a great package.
Have a nice day,
Evelise

On Nov 2, 2017 16:57, "Evelise B" <evelise.bourlon@gmail.com> wrote:

[2017-11-03 15:47] steffilazerte commented on #41
Glad to hear it! lubridate was just updated on cran to fix some of the bugs that we were experiencing so hopefully this isn't an issue any more.

[2017-11-19 18:36] steffilazerte opened #43 "`stations_all()` returns error on some windows machines"

[2017-11-22 17:04] #23 closed

[2017-11-22 17:04] #37 closed

[2017-11-22 17:04] #39 closed

[2017-11-22 17:04] #41 closed

[2017-11-22 17:04] #43 closed

[2017-11-29 04:19] boshek opened #45 "Attempt to remove sp dependency"
The overhead for these two lines is pretty significant:

https://github.com/steffilazerte/weathercan/blob/a5948a687df58b65657a3b0e61a813812d4095d3/R/stations.R#L190-L191

Particularly for mac and linux this requires installing quite a lot of other material. We should try to remove it.

[2017-11-29 14:29] steffilazerte commented on #45
That's a very good point. Will have to look into it.

[2017-12-07 04:31] #26 closed

[2018-01-03 16:28] #45 closed

[2018-02-12 23:12] boshek opened #50 "R version"
The R version of `weathercan` is likely too restrictive. Using this [app](http://shiny.andyteucher.ca/shinyapps/rver-deps/), shows that we likely only need a version of 3.2.0. Even to be conservative we may considered only requiring 3.3.0 so that older versions of R can run weathercan.

[2018-02-13 00:13] steffilazerte commented on #50
Very cool shiny app!
Good idea, I dropped the version down and added a couple of old release checks to travis ci and appveyor.

[2018-02-13 00:13] #50 closed

[2018-05-10 18:08] joethorley opened #52 "weather_dl throws error ` 'names' attribute [25] must be the same length as the vector [24]`"
## Expected Behavior
`weather_dl` should return weather data

## Current Behavior
`weather_dl` errors out

## Steps to Reproduce (for bugs)
[code]

## Your Environment
[code]

[2018-05-10 18:30] joethorley commented on #52
[code]

[2018-05-11 08:09] steffilazerte commented on #52
Thanks for opening the issue! I'm on vacation with no computer but I'll look into it when I get back.

[2018-05-25 16:22] steffilazerte commented on #52
Okay, figured it out.

ECCC updated the file format by omitting a column. I've created a fix that addresses this issue in particular, and which should also make the package more robust to any future changes. Just to make sure I've also included some extra testing suites that should alert me to specific problems, without disrupting users.

The fix is on the dev-steffi branch, if you have a chance t

[2018-05-25 17:11] joethorley commented on #52
I can confirm that has fixed the issue

Thanks

[2018-05-25 17:11] #52 closed

[2018-05-29 12:15] pbulsink opened #54 "Failure when getting date range including 2018-03-31 to 2018-04-01"
## Expected Behavior
weather_dl() should always return a data frame.

## Current Behavior
Sometimes, weather_dl() reports

[code]

## Steps to Reproduce (for bugs)
1. When extracting data over a date range that includes 2018-03-31 through 2018-04-01, the error is produced. This is not weather-station dependent.

```kam <- weather_dl(station_ids = 51423, start = "2018-03-31", end = "2018-04-01")```

[2018-05-29 12:16] pbulsink commented on #54
traceback()
[code]

[2018-05-29 15:47] steffilazerte commented on #54
Thanks for the comprehensive testing! I can see where the problem is (the preamble or metadata changes in the files between pre and post April 2018). I've got a couple of ideas for addressing the problem which will hopefully make the package more robust to future changes. Will try them out and let you know how it goes.

[2018-05-29 19:33] steffilazerte commented on #54
Okay, so the newest version on the dev-steffi branch should have fixed this issue. Could you let me know if it works for you? Note that this will result in a new column (station operator) in data that includes a date after April 1st 2018.

[2018-05-30 11:59] pbulsink commented on #54
Seems to work on my end too. Thanks for your quick help!

[2018-05-31 23:37] pbulsink commented on #54
One more error in the same vein: When downloading from multiple station ID's with old and new data (such as 4291 and 27534, where the latter 'supersceded' the former for data collection in 1997), the rbind fails as they have different numbers of columns. Example code:

[code]

[2018-06-01 17:31] steffilazerte commented on #54
Ah thanks for catching that, I overlooked that part of the testing. Will fix it now.

[2018-06-01 21:44] steffilazerte commented on #54
Okay, columns are added for older data missing the new meta data columns (filled with NA if missing). This should fix the problem when joining new and old data between stations. Let me know how it goes!

[2018-06-04 12:59] pbulsink commented on #54
Seems to work great now! Thanks

[2018-06-04 14:20] pbulsink commented on #54
One thing to consider: the builtin `kamloops` and `kamloops_day` datasets don't have a `station_operator` column. When rebuilding for master they should maybe be updated, but this may introduce breaking changes to your or other's testing code.

[2018-06-04 15:04] steffilazerte commented on #54
They should definitely be updated, as should the Read me and Vignettes so they match the current state of the package. I don't think they'll break any tests (that I know of). Thanks for the reminder!

[2018-06-05 05:43] boshek opened #55 "dplyr exports all the required tibble functions so we can remove the tibble dependency."
For instance this:

https://github.com/ropensci/weathercan/blob/3b8d291c25f68cb687f6fca34643b16d9c2724be/R/interpolate.R#L72-L74

Can be changed to this:

[code]

FWIW I realize that it was me who did this in the first place 🤦‍♂️

[2018-06-05 15:27] boshek commented on #55
Push to `dev-steffi`? Or do you want to review a pull request?

[2018-06-05 15:28] steffilazerte commented on #55
No that's fine, go ahead and push to the dev branch

[2018-06-06 04:47] #55 closed

[2018-06-07 05:47] boshek commented on #36
Seems like this could be closed given what you've done here:

https://github.com/ropensci/weathercan/blob/9d8df84cb9e17e77bd4b4ff417e54b151c01c9a8/inst/CITATION#L1-L18

[2018-06-07 05:49] boshek commented on #34
This also seems like it could be closed right?

[2018-06-07 20:11] #34 closed

[2018-06-07 20:11] #36 closed

[2018-06-20 15:38] #54 closed

[2018-07-27 19:43] steffilazerte opened #57 "Update example in flags vignette"
The flags vignette makes a reference to a "missing data" flag, which is no longer present. Choose a new example and update the vignette.

[2018-07-27 20:13] steffilazerte opened #58 "Add progress message"
Add progress message to `weather_html()` under verbose conditions. This will act like a progress indicator for large downloads, so users can see that things are progressing.

[2018-07-27 20:15] boshek commented on #58
`httr::progress()` might do the trick here.

[2018-07-30 13:48] steffilazerte commented on #58
That will work for single downloads, but the really long ones are where it downloads multiple files. I don't think this would apply to that scenario, right?

Best would be if [`purrr` had progress bars](https://github.com/tidyverse/purrr/issues/149), or alternatively, maybe this solution using the `progress` package: <https://stackoverflow.com/a/46517585>

[2018-08-09 16:37] durraniu opened #59 "Error in if (tz <= 0) tz <- paste0("+", abs(tz)) else tz <- paste0("-", : argument is of length zero"
First of, thank you for creating this package.

Now, about the error: I am trying to run the following code:

[code]

Here's the traceback:

[code]

I have tried different `station_ids` and `start` & `end` but get the same error.

[2018-08-09 17:15] steffilazerte commented on #59
Ugh, thanks for the bug report! We were calling on a Google API to infer the local timezone, but a) Google has stopped allowing keyless access and b) we didn't have a graceful catch for when the check with google failed.

I think the most elegant fix will be to use a timezone shapefile to grab the timezones and have a fallback to UTC. I'll see what I can do!

[2018-08-09 17:54] steffilazerte commented on #59
Hmm, actually this problem just went away, perhaps it was a small blip with Google API? At any rate, I'll put in a fail safe and perhaps look into a self-contained solution for the future. Thanks for alerting us to this!

[2018-08-09 18:05] boshek commented on #59
One option is to use the `lutz` package: https://cran.r-project.org/web/packages/lutz/index.html

[2018-08-09 18:07] steffilazerte commented on #59
Hmm, that's not a bad idea either!

[2018-08-09 18:13] boshek commented on #59
Possibly a less fragile solution.

[2018-08-09 19:03] durraniu commented on #59
Thank you for your kind responses. I just checked, and yes, I no longer get any error. This is a great package, thank you!

[2018-08-27 18:57] stefaniebutland opened #60 "See RViews July 2018 Top 40 New Packages"
weathercan was selected for RViews July 2018: Top 40 New Packages https://rviews.rstudio.com/2018/08/27/july-2018-top-40-new-packages/ 🎉

[2018-08-27 19:07] steffilazerte commented on #60
Yay! How Exciting!

[2018-09-20 13:05] ebourlon commented on #59
Good morning,
tz_calc is returning timezone this  morning.  I've heard google might have set a quota for its api applications.
But I am now getting another error:
kam <- weather_dl(station_ids = 51423, start = "2016-01-01", end = "2016-02-15")
Error in filter_impl(.data, quo) :
  Evaluation error: invalid argument type.
Any idea?
Thanks

[2018-09-20 15:03] steffilazerte commented on #59
Glad it's working for you!  the tz_calc error is an intermittent problem with accessing google timezones, if you run into  again, the best you can do right now is just wait an hour or two and see if it clears up. However, we're definitely hoping to get that fixed on our end soon!

[2018-09-20 15:16] ebourlon commented on #59
Thanks! The weathercan package is such a useful tool. Hopefully ECCC and
google changes will not make it too hard to maintain.
E.

On Thu, Sep 20, 2018, 12:04 Steffi LaZerte <notifications@github.com> wrote:

[2018-10-05 13:47] ebourlon commented on #59
Thanks for reopening ! Behavior of the tz google app is very random. I'm
using the Lutz package in some of my scripts and it's working nice.
E.

On Fri, Oct 5, 2018, 10:10 Steffi LaZerte <notifications@github.com> wrote:

[2018-10-05 13:50] steffilazerte commented on #59
I agree, it's getting worse. I'm working on it right now. I'd love for you to take a look at it once I get it working, let me know how it goes for you! I'll let you know when the fix is posted :)

[2018-10-05 13:52] ebourlon commented on #59
Sure. I'll test it.
E.

On Fri, Oct 5, 2018, 10:50 Steffi LaZerte <notifications@github.com> wrote:

[2018-10-05 15:19] steffilazerte commented on #59
Alright! The stations data frame now includes a timezone column and I've added `lutz` to suggested dependencies, so that users who update the stations data frame will also get timezones. This way the `weather_dl` function doesn't have to calculate timezones each time, it can just look it up in the stations data frame. Hopefully this will keep things from slowing down.

If you have a moment, could

[2018-10-05 16:08] ebourlon commented on #59
So far it worked on not-so-recent but up-to-date macbooks pro under R
version 3.4.1 (2017-06-30) -- "Single Candle". I've tested weather_dl,
station_dl and stations_search (we use it a lot) for various coordinate and
repeated commands 10 times in a row: no problem, always got an answer.

I have not been able to run it on our macMinis because devtools cannot be
installed.
I've tried on our ubuntu l

[2018-10-05 16:10] boshek commented on #59
Works for me @steffilazerte

What is the thinking behind not using the standard name and rather the offset?
[code]

[2018-10-05 16:13] steffilazerte commented on #59
@ebourlon I'm glad to hear it works and that you're finding it so helpful! It seems to be passing most tests, just some problems with systems that can't install the sf and lutz.

Remember that you should be able to run both `windows_dl()` and `stations_search()` without having to install `lutz` and `sf`. You only need to extra packages if you're going to use `stations_dl()`.

@boshek Glad to hear

[2018-10-05 16:15] ebourlon commented on #59
It worked also on our ubunto box under R version 3.4.2 (2017-09-28) --
"Short Summer".

Thanks!
E.

Le ven. 5 oct. 2018 à 13:07, Evelise B <evelise.bourlon@gmail.com> a écrit :

[2018-10-05 16:21] ebourlon commented on #59
For people who might have trouble with the install of lutz: I've installed libv8-dev on our server first
(sudo apt-get install libv8-dev). Then the lutz package got installed smoothly.

[2018-10-05 16:34] steffilazerte commented on #59
No, it's has to be a recognized timezone name under `OlsonNames()`, which means it has to be in the format of `Etc/GMT+-XX`:

[code]

Also note that the offset (i.e. -10 or +10) is actually counter-intuitive (the number is the opposite sign than what you'd expect).

E.g., from <https://en.wikipedia.org/wiki/Tz_database#Area>:

[2018-11-18 04:38] adamhsparks opened #62 "Typo in README"
There is an unnecessary "is" in the first sentence in the README file.

[2018-11-18 18:51] #62 closed

[2018-11-30 17:01] boshek opened #63 "Is this something we want to support in weathercan?"
A way of dissemination data from ECCC:

https://dd.meteo.gc.ca/climate/doc/observations/README_climate.txt

With the data being here:

https://dd.meteo.gc.ca/climate/observations/

It would require a bit of work under the hood but it might at least even be worth a speed test. Haven't fully explored the datamart for this product so it may not be fully appropriate.

[2018-11-30 17:22] steffilazerte commented on #63
Definitely worth checking out for data normals! They have them as single csv files which would make it much easier to access. For daily and monthly values it looks as if the files are in the same format, so we'd only have to change the script accessing the file, and that might be faster. No hourly data though :-/

Another place that might need changes is the parts of the script that identify missi

[2018-11-30 17:40] boshek commented on #63
Right normals! This option for normals is much better than anything we brainstormed in #38. Maybe a good approach is to close this issue and address #38 with these .csvs? Leave the monthly and daily data for another time?

[2018-11-30 17:47] steffilazerte commented on #63
I like it!

[2018-11-30 17:47] #63 closed

[2018-11-30 17:47] steffilazerte commented on #38
Consider adding normals from:

https://dd.meteo.gc.ca/climate/doc/observations/README_climate.txt

With the data being here:

https://dd.meteo.gc.ca/climate/observations/

[2018-12-04 22:04] nadrojordan opened #64 "Env Canada station location precision"
I was wondering if there is any way to got lat/lon coordinates at a higher precision than 2 decimal places, which is an error of plus or minus 1.1km or less.

Thank you, this package has proven invaluable to our research team.

J

[2018-12-04 22:36] steffilazerte commented on #64
I'm glad `weathercan` has proven useful. Unfortunately lat/lon are returned to with same degree of precision as they're received from ECCC. I've looked around and all historical weather data from ECCC (i.e. website, ftp, etc) have limited lat/lon. If you have specific stations in mind, I'm sure you could ask them for more details?
Good luck!

[2018-12-04 22:36] #64 closed

[2018-12-18 19:59] macsmith26 opened #65 "Any way to refresh `stations` dataframe?"
Hi,

I recently discovered your extremely useful package. Thank you for creating it!

I was wondering how often the `stations` dataframe is updated, since I noticed a discrepancy between it and weather.gc.ca. It's annoying how weather stations stop reporting/change on the website from time to time, but is there a way to get a refresh of the list so we can manually fix any scripts whenever a change

[2018-12-18 20:34] steffilazerte commented on #65
The stations data frame gets updated every time I push an update to CRAN and often when I push changes to GitHub. You can update the data frame yourself with the `stations_dl()` function and then you can supply this data frame to the `weather_dl()` function.

For example:

[code]
Let me know how it goes, I don't think many people use this aspect of the package. Downloading the stations data frame

[2018-12-23 14:55] steffilazerte opened #66 "Add French localisation"
Look into adding French as a language option for messages, errors, and, possibly, documentation.

[2019-01-10 19:10] boshek opened #67 "Memoise download functions"
We should consider adding a memoise ability to any download function.

This cache's the output in a session so that unless the parameters have changed, identical download calls will only be downloaded once per session. It is fairly easy to implement and can provide a reasonable buffer to repeated identical downloads.

Here is the memoise package: https://github.com/r-lib/memoise

[2019-01-10 19:37] steffilazerte commented on #67
Excellent idea

[2019-02-11 20:49] boshek commented on #59
@steffilazerte Given the unique status of Newfoundland, do you anticipate any issues with this?
[code]

[2019-02-11 23:39] steffilazerte commented on #59
Ugh, that is a problem because although there are no errors (with `POSIXct`), it's treated as UTC, which is fine, generally speaking but misleading if you don't know that:

[code]

In the end this probably means that we'll have to change everything to just use UTC. I can't think of another way to introduce timezones without daylight savings.

[2019-02-12 23:47] #65 closed

[2019-02-13 17:07] steffilazerte opened #68 "Download multiple years but only certain months"
This is a problem and short-term solution reported by John Lewis.

**Question**: Is it possible to selectively download only winter months across multiple stations and multiple years?
**Answer**: It is possible in the future to implement that for hourly data, but it is currently not implemented (and won't be immediately implemented)

John presented this work-around in the meantime:

[code]

[2019-02-25 15:48] steffilazerte opened #69 "Daily downloads missing dates in the second year"
## Expected Behaviour

`weather_dl(station_id = 49568, interval = "day",
                  start = "2012-11-01", end = "2013-04-05")`

Should return daily data from 2012-11-01 to 2013-04-05

## Current Behaviour
Data is truncated at 2012-12-31

[2019-03-15 16:15] essicolo opened #70 "Error in strptime(xx, f, tz = tz) : invalid 'tz' value"
## Expected Behavior

Fetching weather using `weather_dl()`.

## Current Behavior

[code]

## Steps to Reproduce (for bugs)
I'm doing a lot computations before getting the error. I tried several things and could not create a reproducible example.

## Possible Solution
Imcompatibility with another package?

## Context
I'm trying to build a gitbook with several chapters. A chapter including weatherc

[2019-03-15 16:38] boshek commented on #70
👋 @essicolo

It is going to be difficult to diagnose this without a [reprex](https://www.tidyverse.org/help/). As a first step what if you added `traceback()` after the weathercan code?

[2019-03-15 18:09] essicolo commented on #70
I know, sorry about that. I tried several things but never could reproduce it out in isolation. Here is the output.

[code]

[2019-03-15 18:35] boshek commented on #70
Very strange. I am not able to reproduce the bug using the same version of R. @steffilazerte might have some ideas. The offending line starts here:

https://github.com/ropensci/weathercan/blob/b3eaeceefd43adc260f92ce5cc442a7ca88fa6ee/R/weather.R#L465

However, on my machine the `tz` is specified correctly. Ideally you'd be able to re-run with a debug so that you can step into the function. On my m

[2019-03-15 19:52] essicolo commented on #70
regex succeeded!

Errors happen when an object named `stations` is created. The error message changes whether it's a data.frame or a scalar/vector/matrix.

[code]

[2019-03-15 21:07] boshek commented on #70
@essicolo Do you want to test using this branch?

devtools::install_github("ropensci/weathercan", ref = "ref_internal_data")

[2019-03-15 22:23] essicolo commented on #70
Ok, but here is another bug.

[code]

[2019-03-15 22:51] steffilazerte commented on #70
Okay, I pushed one more fix, I think this should do it :)

[2019-03-16 14:00] essicolo commented on #70
It did do it. 👍

[2019-03-16 14:01] #70 closed

[2019-06-07 21:04] #60 closed

[2019-06-07 21:05] #59 closed

[2019-06-07 21:08] steffilazerte opened #74 "Switch to UTC"
Convert all timezones to UTC. Actual times will still represent local time without daylight savings, but the timezone designation will be UTC, rather than Etc+7 etc.

This is to address the problem of half hour timezones as referenced before:

----------------------------

@steffilazerte Given the unique status of Newfoundland, do you anticipate any issues with this?
[code]

_Originally posted by

[2019-06-07 21:11] steffilazerte commented on #10
See also: https://github.com/BirdStudiesCanada/naturecounts/blob/master/R/metadata_utils.R

[2019-06-10 14:24] #69 closed

[2019-08-27 21:28] adamhsparks opened #76 "Undeclared tidyverse dependency"
I asked @jeroen why `weathercan` didn't have it's own spiffy https://docs.ropensci.org/ webpage as I was updating links in the documentation of `GSODR` for a new CRAN release.

Apparently you have an undeclared dependency, `tidyverse` see the log here for more: https://dev.ropensci.org/job/weathercan/35/console

[2019-08-27 21:29] adamhsparks commented on #10
Also this in GSODR, https://github.com/ropensci/GSODR/blob/master/R/update_station_list.R

[2019-08-27 21:49] jeroen commented on #76
If you add `Suggests: tidyverse` to your package description, it should fix the site!

[2019-08-27 22:12] adamhsparks commented on #76
Yes, I thought about a PR, but wasn't sure if it was desirable to keep `tidyverse` in Suggests seeing some past issues it looked like it was being removed from `weathercan` perhaps.

[2019-08-27 23:14] jeroen commented on #76
If tidyverse is used in vignettes, it has to be in Suggests to pass CMD check as well...

[2019-08-31 15:29] boshek commented on #67
I now wonder if this isn't the best solution as it could have some odd behaviours with such high frequency updates as the weather data. Something like this would be better but it isn't on CRAN: https://github.com/ropensci/bowerbird

[2019-09-09 14:10] steffilazerte commented on #76
@jeroen, we're still having a problem with one of the articles not compiling on the jenkins server, due to missing packages. Currently it's a package that I have no idea where it comes from (seems to be a `ggplot2` dependency?).

I could just add that package to the suggest, but the problem I have is that there is one quite advanced article (i.e. not a vignette, but an article for the pkgdown webs

[2019-09-10 12:58] jeroen commented on #76
OK fair enough. I usually put all stuff in suggests, but I can imagine you don't like that. I opened an issue here: https://github.com/ropensci/docs/issues/9

[2019-09-23 15:31] boshek opened #78 "Convert factors in `stations` to characters"
I was wondering if you consider converting the factors in the `stations` internal dataframe to characters? I'm nit understand the rationale here. My thinking of factors is where there is order to a string. Those currently that have a factor class don't have that order so I am not sure the reason to keep them that. Happy to do this work but I wanted to check first.

[code]

<sup>Created on 2019-09-

[2019-09-23 22:23] steffilazerte commented on #78
Factors are also useful when you want to keep track of what the 'options' or 'categories' are (not only orders), but in this case, I'm not sure they're very useful. Province is a factor only because I use factors and levels to rename them. More than happy to do away with them :)

[2019-09-24 20:35] #74 closed

[2019-09-24 20:35] #78 closed

[2019-09-25 17:31] sckott opened #80 "Amount of data accessible with this pkg?"
👋  as part of preparing an rOpenSci annual report, we're trying to estimate amount of data the various pkgs in our suite provide access to.

Do you have a sense for how much data (e.g., in GB) one can access through this pkg?  And whatever metric is most relevant for this data?

[2019-09-25 20:00] steffilazerte opened #81 "Increase Code Coverage"
See if we can't increase the test coverage

[2019-09-25 20:01] #38 closed

[2019-09-25 20:01] #57 closed

[2019-09-25 20:01] #35 closed

[2019-09-25 21:10] steffilazerte commented on #80
An extremely rough estimate would be ~ 110 GB (I had fun, if you're interested: <http://ropensci.github.io/weathercan/articles/articles/data.html>). Considering this is text data (so small), I think that's pretty impressive!

As for metric, well perhaps years would be the most interesting? Or time in general? For this data, ignoring the climate normals, we have up to 397,671 years worth of data (s

[2019-09-25 21:23] sckott commented on #80
Thanks very much, that works!  We're going for rough estimates here since it's just for informational purposes, thanks for taking the time on this!

What is the earliest year that data is present? So we can get a span

[2019-09-25 22:16] steffilazerte commented on #80
http://ropensci.github.io/weathercan/articles/articles/data.html

Earliest year was 1840 in Toronto! That station didn't close down until 2017! For reference, there were 365 stations which were active prior to 1900. Actually a pretty fun exercise!

[2019-09-26 17:04] sckott commented on #80
great, thanks very much @steffilazerte ! and i'm glad it was fun 😸

[2019-09-26 17:04] #80 closed

[2019-09-26 20:02] AreliaTW opened #82 "Low precision of latitude and longitude reported for stations."
This is a very useful and nicely written package. Thank you for creating it.

The location of the stations is important in my work and I noticed that the latitude and longitude are only reported to two decimal places:

[1] 48.41 48.41 48.41

[1] -123.32 -123.32 -123.32

On the climate.weather.gc.ca site for the VICTORIA GONZALES CS station the UTM coordinates are as follows:
Latitude:48°24'47.896"

[2019-09-26 22:22] boshek commented on #82
👋  @AreliaTW

To me this look like data source issue that is beyond the scope of weathercan. The data that we use is here:

ftp://client_climate@ftp.tor.ec.gc.ca/Pub/Get_More_Data_Plus_de_donnees/Station%20Inventory%20EN.csv

As you can see the coordinates are only reported to the precision you see in the R package. AFAIK that is our best reproducible source for stations so that is unlikely to cha

[2019-09-27 12:45] ebourlon commented on #59
Hi Steffi,
I keep getting this message:* Error in 1:grep("Date/Time", preamble$V1) :
argument of length 0 *when using weather_dl. It was still working ok
yesterday. I've updated the package this morning but it did not fix the
issue.
Any idea?
Thanks!
E.

Le jeu. 20 sept. 2018 à 12:04, Steffi LaZerte <notifications@github.com> a
écrit :

[2019-09-27 13:35] steffilazerte opened #83 "ECCC Format change"
ECCC Changed the format of the historical weather data yesterday, this will require a small tweak to the package to get us back on track.

[2019-09-27 13:36] steffilazerte commented on #59
Hi @ebourlon, this error is actually unrelated to this issue (see #83). I'm hoping to have a fix posted soon.

[2019-09-27 13:44] ebourlon commented on #59
Thanks. Yes sorry it is a new issue.
Thanks for the package again!
E.

On Fri, Sep 27, 2019, 10:36 Steffi LaZerte <notifications@github.com> wrote:

[2019-09-27 14:49] WatershedFlow opened #84 "Can not download with weather_dl"
I try to download daily data with following code:

Regina<- weather_dl(station_ids = 28011, start = "2019-02-01", interval = "day", quiet = TRUE)

then I got this error without anything else happened, i.e., no data downloaded.
Error in 1:grep("Date/Time", preamble$V1) : argument of length 0

Thanks for your help.

[2019-09-27 14:55] steffilazerte commented on #84
Yes, unfortunately this is because of issue #83, ECCC changed the format of their downloads yesterday. I have a fix in the works, and it should be ready for testing soon. Thanks!

[2019-09-27 14:55] #84 closed

[2019-09-27 17:13] AreliaTW commented on #82
Thanks for clarify the source of the data. I understand that scraping data is more work and hard to maintain. Do you know who I could contact at ECCC that might be able to address this issue? I.e. produce the metadata table with more precision?

[2019-09-27 17:18] steffilazerte commented on #82
The web portal for downloading data is [here (with an example)](https://climate.weather.gc.ca/climate_data/hourly_data_e.html?hlyRange=2013-06-11%7C2019-09-26&dlyRange=2013-06-13%7C2019-09-26&mlyRange=%7C&StationID=51423&Prov=BC&urlExtension=_e.html&searchType=stnName&optLimit=yearRange&StartYear=1840&EndYear=2019&selRowPerPage=25&Line=1&searchMethod=contains&Month=9&Day=26&txtStationName=kamloops

[2019-09-27 21:35] AreliaTW commented on #82
Thanks for this suggestion. I've sent an email to 'ec.services.climatiques-climate.services.ec@canada.ca'. The automatic reply included "Please be advised that due to unforeseen circumstances, you will experience a longer than usual response time for your service request." I'll let you know if I hear anything.

[2019-09-28 00:16] #83 closed

[2019-09-28 00:23] steffilazerte commented on #59
@ebourlon, if you get the chance, the fix has been posted to the master branch:

[code]

Then test as you would normally:

[code]

[2019-09-28 00:24] steffilazerte commented on #84
@WatershedFlow , if you get the chance to test it, the fix has been posted to the master branch:

[code]

Then test as you would normally:

[code]

[2019-09-28 02:05] ebourlon commented on #59
Thanks! You're fast. I'll try it asap.

I've been using the riem package lately that deliver airport metar
reports.  I have noticed that since at least a year many ECCC airport
stations only report bad weather in the weather description. These stations
are Navcan stations as well and complete weather is provided in metar
reports. Unfortunately the riem package is not as nice as yours. No station
s

[2019-09-28 16:00] #82 closed

[2019-09-29 17:44] steffilazerte commented on #83
We're on CRAN now, you can update with `install.packages("weathercan")`.
Good luck!

[2019-09-29 17:44] steffilazerte commented on #84
We're on CRAN now, you can update with `install.packages("weathercan")`.
Good luck!

[2019-09-29 17:44] steffilazerte commented on #59
We're on CRAN now, you can update with `install.packages("weathercan")`.
Good luck!

[2019-09-30 14:36] ebourlon commented on #59
Thank you. It's working now.

They messed up the metadata....
stations_search("ESTEVAN A") return 3 stations ID which is correct, but
station id 54261 has a wrong start year for the hourly record. This station
only contains hourly data from 2018, not 2015. This lead to no data when
querying that station.
Probably not the only typo in the database.

E.

Le dim. 29 sept. 2019 à 14:44, Steffi LaZerte

[2019-09-30 14:50] steffilazerte commented on #59
Are you sure? It starts late, but I got data from November 2015:

[code]

[2019-09-30 15:36] ebourlon commented on #59
I was looking for hourly data in the summer to late October 2015. It is
available from station  53520 and not 54261.
When I do a search of station, I am getting 4 stations with data in 2015. I
use to subset for end and start date, non NA WMO and shortest distance.
Only one is returned.
And when I look for data, there are none.
This works most of the time so far with the updated ECCC database.

int

[2019-09-30 16:03] steffilazerte commented on #59
Right, the data doesn't start until November 27th 2015. The start year of 2015 is technically correct (i.e. not a typo), the problem is that 2015 isn't a complete year and the data you're looking for is earlier in the year. Unfortunately this level of detail isn't available in the stations data frame. So you won't know the exact start date until you download the data yourself :(

[2019-09-30 16:06] ebourlon commented on #59
It's the exact same location, ECCC could maybe merge the data carefully.
The weird thing is that it was not causing trouble until they change the
time format.
E.

Le lun. 30 sept. 2019 à 13:03, Steffi LaZerte <notifications@github.com> a
écrit :

[2019-09-30 16:11] steffilazerte commented on #59
Ahh, I see your problem. Well, I'm glad the package is working for you at least! Any specific questions regarding the data itself are best sent to ECCC, good luck!

[2019-09-30 18:30] macsmith26 opened #85 "Error received when calling weather_dl()"
Hello,

I received the following error when calling the example fctn to download weather data `weather_dl(station_ids = 51423, start = "2018-02-01", end = "2018-04-15")`:

`Error in 1:grep("Date/Time", preamble$V1) : argument of length 0`

[2019-09-30 18:46] steffilazerte commented on #85
Hi @macsmith26 can you confirm that you're using the most recent version of `weathercan` (v0.3.1)?

[code]

If you're using v0.3.0, you'll need to update

[code]

[2019-09-30 20:47] macsmith26 commented on #85
Rookie mistake on my part. My version was 0.2.8. Updated and everything is working fine again, thanks!

[2019-09-30 20:47] #85 closed

[2019-10-01 13:02] ebourlon commented on #59
another question: we're not able to use both function weather_dl and
station_dl on our linux server. We are getting that message:

+                   start = "2016-01-01", end = "2016-02-15")
Error: Evaluation error: server certificate verification failed. CAfile:
/etc/ssl/certs/ca-certificates.crt CRLfile: none.

s <- stations_dl()
Error: Evaluation error: server certificate verification failed.

[2019-10-01 13:49] ebourlon commented on #59
Maybe some clues: I can download the data using http but there is a
certificate pb when using https. Both are working fine on mac R version.

http://climate.weather.gc.ca/climate_data/bulk_data_e.html?format=csv&stationID=1706&Year=2018&Month=10&Day=14&timeframe=1",
fill=TRUE)
trying URL '
http://climate.weather.gc.ca/climate_data/bulk_data_e.html?format=csv&stationID=1706&Year=2018&Month=10&Day=1

[2019-10-02 20:35] steffilazerte commented on #59
I suspect it isn't a `weathercan` issue but rather a problem with the certificates on your server. For example: <https://stackoverflow.com/questions/21181231/server-certificate-verification-failed-cafile-etc-ssl-certs-ca-certificates-c>. If you want to pursue this further as a `weathercan` problem, open a new issue and we can troubleshoot from there.

[2019-10-02 21:09] ebourlon commented on #59
Thanks Steffi. I'll work on it. I have already done all what is on that
page. I guess our server is messed up..... To many users with admin
priviledges.

Waethercan works perfect. Thanks for keeping it updated.

E.

On Wed, Oct 2, 2019, 17:35 Steffi LaZerte <notifications@github.com> wrote:

[2019-10-03 17:37] ebourlon commented on #59
Package is working again on our ubuntu servers. Adding climate.weather.gc.ca security certificate to our ca-certificates file fixed the "Error: Evaluation error: server certificate verification failed" issue.

[2019-10-03 19:31] steffilazerte commented on #59
Great, glad to hear it worked out! I'm going to reference this conversation in a new issue to make it easier for people to find if they're searching for a similar problem.

[2019-10-03 19:33] steffilazerte opened #86 "Evaluation error: server certificate verification failed"
another question: we're not able to use both function weather_dl and
station_dl on our linux server. We are getting that message:

+                   start = "2016-01-01", end = "2016-02-15")
Error: Evaluation error: server certificate verification failed. CAfile:
/etc/ssl/certs/ca-certificates.crt CRLfile: none.

s <- stations_dl()
Error: Evaluation error: server certificate verification failed.

[2019-10-03 19:35] steffilazerte commented on #86
I suspect it isn't a weathercan issue but rather a problem with the certificates on your server. For example: https://stackoverflow.com/questions/21181231/server-certificate-verification-failed-cafile-etc-ssl-certs-ca-certificates-c. If you want to pursue this further as a weathercan problem, open a new issue and we can troubleshoot from there.

_Originally posted by @steffilazerte  in [#59 (comme

[2019-10-03 19:35] steffilazerte commented on #86
Package is working again on our ubuntu servers. Adding climate.weather.gc.ca security certificate to our ca-certificates file fixed the "Error: Evaluation error: server certificate verification failed" issue.

_Originally posted by @ebourlon in [#59 (comment)](https://github.com/ropensci/weathercan/issues/59#issuecomment-538091580)_

[2019-10-03 19:35] #86 closed

[2019-10-03 20:23] steffilazerte opened #87 "Add more metadata for climate normals"
There is addition data users can download through the web portal that is not currently available through `weathercan` ([for example, metadata tab](https://climate.weather.gc.ca/climate_normals/results_1981_2010_e.html?stnID=1641&autofwd=1)).

Figure out how to access this and allow users to download it.

[2019-10-04 09:59] ebourlon commented on #59
I'll will post the recipe for Ubuntu server.
E.

On Thu, Oct 3, 2019, 16:31 Steffi LaZerte <notifications@github.com> wrote:

[2019-10-04 12:21] ebourlon commented on #86
On our ubuntu linux servers, here is the commands I used (sudo if needed):

**1- Get the climate.weather.gc.ca certificate and save it** into climate.weather.gc.ca.crt in the ca-certificate folder of the server (/usr/local/share/ca-certificates/ is the usual folder):
`echo -n | openssl s_client -showcerts -connect climate.weather.gc.ca:443   2>/dev/null  | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERT

[2019-10-11 07:18] cgquick opened #88 "Climate Normals Not Available Via normals_dl()"
I was trying to pull down the normals for Vancouver Airport, but I keep getting "Error: No stations had climate normals available". It also doesn't show up when I run stations_search("Vancouver", normals_only = TRUE). The climate_id is 1108447. I can go to climate.weather.gc.ca and download the normals without issue. Am I doing something wrong or misunderstanding something? Thank you! I love this

[2019-10-11 16:26] steffilazerte commented on #88
That's interesting. It looks like there are two ways of getting climate normals from ECCC. There is a site where the normals are available to download via csv (what `weathercan` currently uses) and there is an interactive site where normals can be downloaded by hand. And they don't have the same data!

I will have to look into accessing this second set of data. It should be doable, but may take so

[2019-10-15 22:50] emhodg opened #89 "Error with using weather_dl()"
There seems to be an issue with the weather_dl() function, when I use it to pull data from a specific station, e.g. `weather_dl(station_ids = c(1648), start = "1990-01-01", end = "1991-01-01", interval = "day")`

I get the following error:

`Error in stringr::str_subset(., "^\r$", negate = TRUE) :
  unused argument (negate = TRUE)`

I just downloaded the package, so am using the most recent versio

[2019-10-16 03:52] boshek commented on #89
👋 @emhodg

Can you please run sessionInfo() and paste that output here? I am unable to reproduce this - that is this bit of code works for me with R 3.61 and weathercan 0.3.1.

[2019-10-16 13:00] ebourlon commented on #89
Looks like you have an old version of stringr installed. It happended to me
when I installed the current weathercan package. The negate argument was
added in stringr 1.4.0. You could update to the latest version of stringr
by running: install.packages("stringr").
E.

Le mar. 15 oct. 2019 à 19:50, emhodg <notifications@github.com> a écrit :

[2019-10-16 14:17] steffilazerte commented on #89
That's really good to know! I'll increase the `stringr` version dependency to 1.4.0 to hopefully avoid future confusion. Thanks @ebourlon! @emhodg, can you confirm that this fixes your problem?

[2019-10-16 16:03] emhodg commented on #89
Yes that is the fix! Thank you all for such quick responses. Much appreciated.

[2019-10-16 19:11] #89 closed

[2019-11-22 01:47] klwilson23 opened #90 "Multiple station downloads with different ranges"
## What I want to do:
I'm trying to download daily weather data for two stations, in this case from the Port Hardy A station name. These two stations don't overlap in ranges. Station 202 goes from 1944 until 2013, while station 51319 picks up from 2013 until today. Basically, I would just like a single time-series of data that accounts for where each station leaves off or picks up.

## Issue?
Basi

[2019-11-22 03:14] steffilazerte commented on #90
Hi @klwilson23!

This behaviour is deliberate because most stations are separate entities and the purpose is to create data frames with comparable time series. Some stations are continuations of each other, but it isn't clear to `weathercan` when that is the case.

Possibly we could consider adding a `pad = FALSE` argument (opposite of the `trim` argument) to avoid padding the time ranges.

For no

[2019-11-22 03:32] klwilson23 commented on #90
Howdy @steffilazerte

That'll work for me! This is a specific data grab that I only need to do a limited number of times. A padding TRUE/FALSE argument could be useful on future work (if it's feasible) in case we go for a bigger regional download for Vancouver Island stations. But there's clever solutions at the back-end of the data grab though in case you want to save yourself the headache.

Than

[2019-11-22 18:13] steffilazerte commented on #90
Glad it worked! I'm going to leave this issue up as a feature request for the padding argument. It wouldn't be difficult to implement.

[2019-12-10 16:42] steffilazerte commented on #76
@jeroen  Thanks for adding the option for `extra_packages` in the pkgdown yaml, that makes it much easier. I noticed that you've been making changes to the weathercan pkgdown yaml. I assume this was to add in the extra dependencies and change the theme to match ROpenSci? I'm a bit sad to lose my red-themed (i.e. weathercan-themed) site, but it makes sense to have unified ROpenSci theme.

Could you

[2019-12-10 16:44] jeroen commented on #76
We no longer use the GitHub.io domain. This now redirects to docs.ropenci.org.

[2019-12-10 16:58] steffilazerte commented on #76
Well that makes it easier! Thanks

[2019-12-10 16:58] #76 closed

[2020-01-13 19:28] AmeerDotHydro commented on #83
Hello, I am getting the following error while trying to install the updated version. please suggest a way forward. Thank you.
`install.packages("weathercan")`

[2020-01-13 23:46] steffilazerte commented on #83
Hi Ameer, thanks for the heads up, I just submitted a new version to CRAN and was told that everything was fine. Something must have gone wonky. I'll contact CRAN and see what's up and will let you know!

[2020-01-20 14:57] jjvenky opened #92 "Package no longer on CRAN"
CRAN now shows than weathercan has been removed https://cran.r-project.org/web/packages/weathercan/index.html

"Archived on 2020-01-10 for policy violation."

Any idea what happened?

[2020-01-20 17:08] steffilazerte commented on #92
Yes, there was a miscommunication, the package had passed checks and was on it's way to CRAN, but at some point between Jan 7th and 10th, it failed again. For some reason I didn't get another notice about this failure so it was removed. I've been away at a funeral, so haven't been able to address the problems. I'm now back, though, so hopefully I'll be able to get it back on CRAN within a day or s

[2020-01-21 17:40] jjvenky commented on #92
Thanks for the update @steffilazerte. Sorry about the funeral.

[2020-01-21 18:39] boshek commented on #92
Remember that the package can still be installed via:

[code]

[2020-01-21 19:06] AmeerDotHydro commented on #92
Thanks for the update- would the version through `devtools` would have updated data?

[2020-01-21 19:24] boshek commented on #92
@AmeerDotHydro Can you be more specific? weathercan itself stores very little data and accesses most of it via the web

[2020-01-21 19:42] AmeerDotHydro commented on #92
@boshek - sorry for the confusion. I just tested the package and all looks good to me.

[2020-02-05 15:40] steffilazerte commented on #92
`weathercan` v0.3.3 is up on CRAN, thanks for you patience!

[2020-02-05 15:40] #92 closed

[2020-02-05 15:41] steffilazerte commented on #83
weathercan v0.3.3 is up on CRAN, thanks for you patience!

[2020-03-16 16:30] greenLauren opened #94 "Missing 2019 data"
When using the station_search method, the end period for Edmonton stations goes until 2018. While the Environment Canada website shows data from 2019. When you try to retrieve this data in R, you get an error. [](https://climate.weather.gc.ca/climate_data/hourly_data_e.html?hlyRange=1999-06-23%7C2020-03-15&dlyRange=1996-03-01%7C2020-03-15&mlyRange=1996-03-01%7C2007-11-01&StationID=27214&Prov=AB&ur

[2020-03-16 17:16] boshek commented on #94
Hi @greenLauren

I am not able to replicate this. Which version of weathercan are you using? Try updating to `0.3.3` if you don't have the most recent version of weathercan.

[2020-03-16 17:25] ebourlon commented on #94
maybe filter should be >=2019

Le lun. 16 mars 2020 à 13:30, greenLauren <notifications@github.com> a
écrit :

[2020-03-17 15:08] greenLauren commented on #94
@boshek @ebourlon  it was weird, when I looked at the end dates they ended in 2018 or earlier for the most part.

I updated the package and the data retrieved ended in 2019 or 2020.  I'm not sure if the version I was using had a different api call or what,  but regardless updating the package worked.

Thanks!

[2020-03-17 15:08] #94 closed

[2020-03-17 16:24] steffilazerte commented on #94
Hi @greenLauren, when you updated the package you updated the internal `stations` data frame. You can update that manually, if you find that it doesn't match the stations listed by ECCC (see the [Getting Started vignette](https://docs.ropensci.org/weathercan/articles/weathercan.html), particularly the `stations_dl()` function for more details).

[2020-04-16 15:59] tspeidel opened #95 "Unable to download weather data"
Hi there,
I'm unable to download data using `weather_dl`.  I tried both the dev version and the stable one.

## Using example in documentation
[code]

[2020-04-16 16:18] steffilazerte commented on #95
Hi @tspeidel,

Try the dev branch:
[code]
I'm just about to push that branch to master and then submit to CRAN. The most recent version of tibble broke a lot of packages and I'm also preemptively fixing problems which will arise from upcoming changes to the dplyr.

My guess is that this is the problem.

[2020-04-16 16:26] tspeidel commented on #95
Yep, that fixed it!
Thanks for the quick reply.

[2020-04-16 16:26] #95 closed

[2020-04-23 12:34] datacarvel opened #98 "weather_dl() function returns an error, even when using example provided in the docs"
## Expected Behavior

_I am simply trying to download weather data using the weather_dl() function. I am guessing it should return the data._

## Current Behavior

_I try downloading data with the provided example in the doc, but even this does not work and returns an error :_
`kam <- weather_dl(station_ids = 51423,
                  start = "2016-01-01", end = "2016-02-15")`
Error message :
`Erro

[2020-04-23 14:14] steffilazerte commented on #98
Hmm, I can't replicate the problem which makes me think it might be a weird package dependency issue (assuming you're using the most recent version of `weathercan` v0.3.4). These are super hard to track down, but can usually be fixed by updating packages.

1) Try updating `weathercan` to the most recent version (if it's not already):
`install.packages('weathercan')`

2. If that doesn't help, try u

[2020-04-23 15:48] datacarvel commented on #98
Well now I don't feel super smart 😂 weathercan was just not updated, it resolved the issue. Been using R for a while now but still don't have the reflex to check the package version. Anyway, thanks a lot for this quick reply and solution!

[2020-04-23 16:01] steffilazerte commented on #98
Glad that worked out! I've been using R for about 13 years now and you'd be surprised how often package versions throw me for a loop :grin:

[2020-04-23 16:01] #98 closed

[2020-05-22 22:14] AmeerDotHydro opened #99 "How to select stations that has complete data between a specified period?"
I am trying to select all stations in Saskatchewan that has data for my chosen period. I don't want stations that has data for only a few years within my defined  time-period.  I am actually looking for stations that have complete records for 1990-2015 (dont want stations that start, for example, in 1993 and end in 2010). any help would be appreciated.
`SK_stations <- filter(stations, prov == "SK"

[2020-05-25 18:10] boshek commented on #99
👋 @AmeerDotHydro

I think this is something that happens outside of weathercan since tools like dplyr are so good at this task.

A quick off the top of head tidyverse heavy solution is this:

[code]

I might be missing something though because all the data have values from 1990 to 2015.

[2020-05-25 19:51] steffilazerte commented on #99
@boshek's solution is a good one because `weathercan` has no way of knowing if stations have complete data. Stations may list 1990 as the start and 2015 as the end, but if the station stopped working for 2000-2002, you wouldn't know that until you'd downloaded the data.

Then you can use this code from @boshek to figure out if there are any missing years.

However, I would be tempted to take any s

[2020-05-25 20:40] AmeerDotHydro commented on #99
Thanks for the suggestions-I would want all stations that it least have 15-20 years data that i can use for computing statistics (mean, median, upper and lower quartile). I would then use the current year precipitation and have plots for these station like attached.
![Ex_figure](https://user-images.githubusercontent.com/35280932/82842081-8e200400-9e95-11ea-8e95-6215bc5c55e7.PNG)

[2020-05-25 20:55] steffilazerte commented on #99
In that case, something along the lines of the above suggestions should work. Good luck!

[2020-06-10 19:00] tspeidel-suncor opened #100 "HTTP 401"
## REPREX
[code]

## Environment
[code]

[2020-06-11 15:34] tspeidel-suncor commented on #100
[code]
Still get the same error:

[code]

[2020-06-11 16:52] steffilazerte commented on #100
Hmm, I also can't reproduce the issue. Your 'GET' call looks like it worked (`Status: 200`). The only other network call is
`httr::GET("https://climate.weather.gc.ca/climate_data/bulk_data_e.html?format=txt&stationID=51423&timeframe=1&submit=Download%2BData")`

But I can't understand why one would work and the other not.

**First, is weathercan up-to-date?** (should be v.0.3.4)

**Second, perhaps

[2020-06-11 16:58] boshek commented on #100
Just will chime in here and say that the first comment has that info and all my package versions seem to line up with @tspeidel-suncor. That is both `purrr` and `weathercan` are up to date. Here is the rlang output:
[code]

Another troubleshooting step is for @tspeidel-suncor to try this on a different network and see if that same results ensue.

[2020-06-11 17:03] steffilazerte commented on #100
Oops, of course, I didn't go back to the original comment (I think I was actually looking at your session_info, @boshek!)

[2020-06-11 18:21] tspeidel-suncor commented on #100
Yes, it is the company network 🙄

[2020-06-11 19:51] tspeidel-suncor commented on #100
It turns out the corporate network filters and prevents the http call. I can confirm that by using **http** instead of **https** :

[code]

I looked at the documentation hoping to find an option to force https since it looks like it's supported on climate.weather.gc.ca.

How can this be done or can it be implemented as a feature? I imagine this is a common issue in some corporate networks.

[2020-06-11 20:01] tspeidel-suncor commented on #100
Perhaps: `options(weathercan.urls.stations = "your_new_url")` would help?

[2020-06-11 20:17] steffilazerte commented on #100
Oh, I didn't even think about that! You can definitely set your own url:
[code]

I'm just testing changing that as the default if there are no problems I'll definitely put that in the next update as it's better to use https anyway. Thanks for delving into this!

[2020-06-11 20:23] steffilazerte commented on #100
This should be now fixed on a dev branch. If you want to test it DON'T use the options to set the url and install the dev version:

[code]

You can confirm that weathercan uses https by default by looking at the options:

[code]

I'll also look into more graceful errors. I thought the function was supposed to fail a bit more informatively if something like this happened.

Let me know how it goes!

[2020-06-11 20:25] steffilazerte opened #101 "More graceful errors on http problems"
## Expected Behaviour
`weather_dl()` returns an informative error if there was a problem connecting to ECCC

## Current Behaviour
It is not informative (see #100)

[2020-06-11 20:26] tspeidel-suncor commented on #100
Wow, that was fast! Will test

[2020-06-11 20:31] tspeidel-suncor commented on #100
All works in dev_0.3.5!
Thanks so much!

[2020-06-11 20:52] boshek commented on #101
This twigged a memory for me. In tidyhydat we do this:

https://github.com/ropensci/tidyhydat/blob/8d30e1186c0c900cb184cab21b33cff55152de82/R/utils.R#L187-L202

Just leaving this here in case it is helpful.

[2020-07-15 18:43] Carina8899 opened #103 "Package no longer on CRAN"
Hello, I tried to download the weathercan package from CRAN, but the page shows that "Package ‘weathercan’ was removed from the CRAN repository.
Formerly available versions can be obtained from the archive."
Can anyone tell me what happened?

[2020-07-15 18:57] steffilazerte commented on #103
Argh, I have no idea. I'll try to figure out why it's been removed

[2020-07-15 19:26] steffilazerte commented on #103
So looking into it, I don't have much more information, but it looks like weathercan started failing checks on Linux for patched and devel versions of R.

I'll start working on a fix and will hopefully have it figured out soon.

In the meantime, you're welcome to download the package from the GitHub site. The master branch is the same version that was on CRAN. Go to the [main repository page](http

[2020-07-16 14:25] Carina8899 commented on #103
Hi Steffi, thank you so much for looking into it. I just downloaded the developmental version of the package and it works well!

[2020-08-17 15:01] clairervh commented on #83
Hi
We are using R version 4.02 and receive the message R is not available for this version. Will there be any update for this version or R?
Regards,
Claire

[2020-08-17 16:25] boshek commented on #83
👋 @clairervh

`weathercan` currently isn't up on CRAN. However it still can be installed using this command:

`install.packages("weathercan", repos = "https://dev.ropensci.org")`

[2020-08-17 17:25] clairervh commented on #83
Thanks very much, that worked!

[2020-08-31 16:00] tspeidel-suncor commented on #100
It seems the problem is back in the latest dev version. Had to downgradde to 0.3.5

[2020-08-31 16:29] boshek commented on #100
👋 @tspeidel-suncor

Can you post a reprex? I am unable to reproduce. Here is mine:

[code]

<details>

<summary>Session info</summary>

[code]

</details>

[2020-09-02 14:53] steffilazerte commented on #103
We're back on CRAN so you should be able to update to the CRAN version now, thanks for you patience

[2020-09-02 14:53] #103 closed

[2020-09-02 14:54] #99 closed

[2020-09-02 14:56] steffilazerte commented on #100
@tspeidel-suncor Could you try with the current version on CRAN? It was just uploaded today.

[2020-09-02 16:37] tspeidel-suncor commented on #100
Works again, thanks!

[code]

[2020-09-02 16:37] #100 closed

[2020-09-15 14:50] maelle commented on #67
A WIP package by @sckott might be relevant: https://github.com/ropensci/webmiddens

[2020-10-09 01:30] amcilraithRRC opened #104 "Error when trying to access weather data in R ----> SEC_E_ILLEGAL_MESSAGE (0x80090326)"
## Expected Behavior
 Weather data should download in R

## Current Behavior

#install.packages("weathercan")
#install.packages("lutz")
#install.packages("sf")
library("weathercan")
library("lutz")
library("sf")
s <- stations_dl()
weather_dl(station_ids = 51097, start = "2020-10-01", end = "2020-10-08",interval="hour")
Error: Problem with `mutate()` input `html`.
x schannel: next InitializeSecurit

[2020-10-09 14:57] steffilazerte commented on #104
I can't seem to reproduce this on Linux 20.04 nor on Windows 10. Travis CI is also fine but weirdly appveyor is failing with the same message (I've also received an email from someone regarding the same issue).

@boshek Can you reproduce this on your machine?

I'm wondering if it's a company/government network issue. @amcilraithRRC are you on a personal computer or work computer?

[2020-10-09 15:41] amcilraithRRC commented on #104
Hi Steffi;
I am using a college computer on my home network, Shaw as a provider and all firewalls are turned off.
Will try loading up weathercan on another computer to see what happens.
It is interesting that the function to download stationIDs works but the one for downloading data does not.
Will keep you posted.
Alex

From: Steffi LaZerte [mailto:notifications@github.com]
Sent: Friday, October 9

[2020-10-09 15:51] amcilraithRRC commented on #104
Hi Steffi;
Tried on another computer that I use for research and it does work.
Notes:

-          On the college laptop, I upgraded R and R-studio to the latest versions (R is 4.0.2) since my version was too old to properly load weathercan and its dependencies.

-          On the other machine, I am running R 3.5.2.
Not sure if this is relevant.
Alex

From: Steffi LaZerte [mailto:notifications@git

[2020-10-09 16:27] steffilazerte commented on #104
Thanks for trouble shooting! For the laptop that does work, is it a personal laptop or another college/work laptop? I'm trying to figure out if this is a permissions problem with curl, which might be funny on institution computers.

[2020-10-09 17:28] amcilraithRRC commented on #104
The computer that does work is a personal machine.
Is there a way that I can debug to see what the problem is?
I teach programming and networks, so I am interested in doing some digging. ;)

From: Steffi LaZerte [mailto:notifications@github.com]
Sent: Friday, October 9, 2020 11:27
To: ropensci/weathercan <weathercan@noreply.github.com>
Cc: Alex McIlraith <AMcIlraith@RRC.CA>; Mention <mention@norep

[2020-10-09 17:41] boshek commented on #104
Here the url that your query is ultimately accessing: https://climate.weather.gc.ca/climate_data/bulk_data_e.html?format=csv&stationID=51097&timeframe=1&submit=Download%2BData&Year=2020&Month=10

One step is to see if that even works in the browser.

[2020-10-09 17:45] steffilazerte commented on #104
That'd be great! These kinds of problems just make me wanna cry!

As @boshek pointed out, a good place to start is simply with the link in your browser. It should initiate a csv download.

Also, here is a simple example with expected output of what weathercan does under the hood using the httr package (which uses the curl package). If the url doesn't work then none of this will, but if url does wo

[2020-10-09 17:53] amcilraithRRC commented on #104
This URL works (Firefox 81.0.1); the problem appears to be in how R is trying to access the site.
When I had initially accessed data I used this sort of link from the EC website and it worked.
I will look at info in Steffi’s email.

From: Sam Albers [mailto:notifications@github.com]
Sent: Friday, October 9, 2020 12:42
To: ropensci/weathercan <weathercan@noreply.github.com>
Cc: Alex McIlraith <AMcI

[2020-10-09 18:07] amcilraithRRC commented on #104
Same script, different results from two computers.

Output from "good” computer:

Warning message:

package ‘httr’ was built under R version 3.5.3

Response [https://climate.weather.gc.ca/climate_data/bulk_data_e.html?format=csv&stationID=51097&timeframe=1&submit=Download%2BData&Year=2020&Month=10]

  Date: 2020-10-09 17:56

  Status: 200

  Content-Type: application/force-download

  Size: 83.4 k

[2020-10-09 18:07] boshek commented on #104
`read.csv` doesn't use the R curl library (pretty sure). Does this work?

`read.csv("https://climate.weather.gc.ca/climate_data/bulk_data_e.html?format=csv&stationID=51097&timeframe=1&submit=Download%2BData&Year=2020&Month=10")`

[2020-10-09 18:10] amcilraithRRC commented on #104
[cid:image002.png@01D69E3D.995115B0]

On problem computer, it does not work.

From: Sam Albers [mailto:notifications@github.com]
Sent: Friday, October 9, 2020 13:08
To: ropensci/weathercan <weathercan@noreply.github.com>
Cc: Alex McIlraith <AMcIlraith@RRC.CA>; Mention <mention@noreply.github.com>
Subject: Re: [ropensci/weathercan] Error when trying to access weather data in R ----> SEC_E_ILLEGAL_M

[2020-10-09 18:17] boshek commented on #104
@amcilraithRRC can you also give the error messages please? Is it the same error message?

[2020-10-09 18:22] amcilraithRRC commented on #104
I attached an image in the last email; maybe it did not come thru.
Will attach as jpg. For some reason I am not being able to copy the console text on this “problem” machine.
Alex

From: Sam Albers [mailto:notifications@github.com]
Sent: Friday, October 9, 2020 13:18
To: ropensci/weathercan <weathercan@noreply.github.com>
Cc: Alex McIlraith <AMcIlraith@RRC.CA>; Mention <mention@noreply.github.com>

[2020-10-09 18:44] steffilazerte commented on #104
If you want to include an image, I think you'll need to go to GitHub issues directly and add it by dragging/dropping or pasting them into the window here.

[2020-10-09 18:54] amcilraithRRC commented on #104
![ReadCSV_Capture](https://user-images.githubusercontent.com/72586000/95620463-d7808280-0a35-11eb-9312-0f7a5655a7a0.JPG)

Added image of error - Alex

[2020-10-09 18:56] amcilraithRRC commented on #104
Tried a different URL and I did get a response from the server to a simple http_get:

library(httr)
myURL <- "http://www.rrc.ca"
GET(url=myURL)

[2020-10-09 19:01] steffilazerte commented on #104
Argh I'm at a bit of a loss!

[2020-10-09 19:05] amcilraithRRC commented on #104
I will play with it a bit as i find inspiration. Would be nice to know root cause in case any one else runs into it.
Thanks for all the help so far!

[2020-10-09 19:07] steffilazerte commented on #104
Thank you for putting in the effort, it's really nice to have the assistance :)

[2020-10-09 20:50] boshek commented on #104
Really just throwing some mud at the wall now but does this in browser work:
https://climate.weather.gc.ca/climate_data/bulk_data_e.html?format=txt&stationID=51097&timeframe=1&submit=Download%2BData&Year=2020&Month=10

or this directly with {curl}:

curl::curl_fetch_memory('https://climate.weather.gc.ca/climate_data/bulk_data_e.html?format=txt&stationID=51097&timeframe=1&submit=Download%2BData&Yea

[2020-10-10 00:37] amcilraithRRC commented on #104
![image](https://user-images.githubusercontent.com/72586000/95641108-06165180-0a66-11eb-94de-bf92ace8b9ba.png)

Hello, I think I am finding some bread crumbs,  I captured the packets being sent from my computer to the weathercan server. It appears that the weathercan server is rejecting the TLS handshake as it comes from R and then immediately resets the connection. I will try capturing the same c

[2020-10-17 19:39] steffilazerte commented on #104
I'm excited to report that I think I've figured out a fix for those users experiencing problems.

Delving into the [`curl`](https://jeroen.cran.dev/curl/) package's vignette for [Proxies and Certificates on Windows Networks](https://cran.r-project.org/web/packages/curl/vignettes/windows.html), I found that there are two SSL backends for Windows: OpenSSL and Windows Secure Channel. By default `curl

[2020-10-20 02:36] tspeidel-suncor commented on #104
I'm getting the same error. The `.Renviron` change did not work.

[2020-10-20 03:47] boshek commented on #104
Just noticed that you are running Windows 7. Any chance you can try on Windows 10 machine on the same network?

[2020-10-20 14:05] steffilazerte commented on #104
Drat, the change worked for three others else affected (although I'm not sure about @amcilraithRRC).

1. Can you try running: `curl::curl_version()` and share the output with us. This should help figure out which SSL backends you have and which one you're using.

2. Do you use a company proxy?

[2020-10-20 14:21] tspeidel-suncor commented on #104
I just installed the latest `curl`. Here's the output:

`R> library(curl)
Using libcurl 7.64.1 with Schannel
R> CURL_SSL_BACKEND=openssl
Error: object 'openssl' not found
R> curl::curl_version()
$version
[1] "7.64.1"

$ssl_version
[1] "(OpenSSL/1.1.1a) Schannel"

$libz_version
[1] "1.2.11"

$libssh_version
[1] "libssh2/1.8.2"

$libidn_version
[1] NA

$host
[1] "x86_64-w64-mingw32"

$protocols
 [1]

[2020-10-20 14:22] ebourlon commented on #104
Hi,
Could it be a security certificate issue with climate.weater.gc.ca again
(October 2019 issue)?
E.

On Tue., Oct. 20, 2020, 11:05 Steffi LaZerte, <notifications@github.com>
wrote:

[2020-10-21 13:23] tspeidel-suncor commented on #104
Windows 10 has no issues. Unfortunately, I can only work in Win 7.

[2020-10-21 20:50] steffilazerte commented on #104
@ebourlon It could be, unfortunately I'm at a complete loss now.

@tspeidel-suncor You may be better luck asking on the [curl](https://jeroen.cran.dev/curl/) page?

Sorry 😞

[2020-10-22 00:25] amcilraithRRC commented on #104
Hi;
I did find out that the machine that does not work for me is Windows 8.1. The working one is Windows 10.
Have been working on other projects, but will poke at this one again soon.
Alex

From: Steffi LaZerte [mailto:notifications@github.com]
Sent: Wednesday, October 21, 2020 15:50
To: ropensci/weathercan <weathercan@noreply.github.com>
Cc: Alex McIlraith <AMcIlraith@RRC.CA>; Mention <mention@no

[2020-10-26 15:15] jeroen commented on #104
As a workaround for SSL problems on old versions of windows, you can switch to the openssl backend by setting

[code]

[2020-10-26 15:17] steffilazerte commented on #104
We did suggest that as a possible solution, I think @tspeidel-suncor's problem is that this solution didn't work for them. Any reason why it wouldn't?

[2020-10-26 15:20] jeroen commented on #104
I think he didn't set it in the correct file, because the error suggests it is still using windows native ssl, not openssl.

@tspeidel-suncor can you run this in R:

[code]

Make sure you restart R after that, because the change gets activated when the curl package is first loaded.

[2020-10-26 15:27] tspeidel-suncor commented on #104
That's correct, I did try adding openssl to my `.Renviron` to no avail. I tried again using the `writelines()`, but still get ther error:

[code]

[2020-10-26 20:32] amcilraithRRC commented on #104
I tried it without reloading R and it failed.
After reloading R, it works perfectly!
Many thanks,
Alex
(Using Windows 8.1)

From: Thomas Speidel [mailto:notifications@github.com]
Sent: Monday, October 26, 2020 10:28
To: ropensci/weathercan <weathercan@noreply.github.com>
Cc: Alex McIlraith <AMcIlraith@RRC.CA>; Mention <mention@noreply.github.com>
Subject: Re: [ropensci/weathercan] Error when tryin

[2020-12-15 18:32] AnneDaySRK opened #106 "Error when attempting to download normals"
I'm having problems trying to download climate normals using weathercan::normals_dl(). I've noticed that when I go to the climate normals index to download directly (i.e. https://dd.meteo.gc.ca/climate/observations/normals/csv/1981-2010/) that the stations available are not the same stations that are listed under weathercan::stations_search().

Error message:
[code]

Example setup:
[code]

[2020-12-15 20:16] steffilazerte commented on #106
Hi @AnneDaySRK,
Thanks for letting me know!

So the first problem you mentioned is related to a change in ECCC's list of stations that is out of date in weathercan's stations data.frame. I've updated the stations data frame in the version below, but in the future, you could use the `stations_dl()` function to update it yourself to use manually.

The second problem you found is that weathercan matc

[2020-12-15 20:37] AnneDaySRK commented on #106
Thanks Steffi, I really appreciate your super speedy reply and help!

[2020-12-17 16:18] steffilazerte commented on #106
So just to be clear this definitely fixed the problem? If so I'll push to master and we'll see about CRAN sometime in the New Year

[2020-12-17 16:45] AnneDaySRK commented on #106
Yes, this did fix the problem, thanks 👍

[2020-12-17 18:09] #106 closed

[2021-01-14 21:48] a2grotto opened #107 "Error when downloading weather data"
I am having troubles downloading weather data using weathercan::weather_dl().
I used this same code about a month ago and everything worked fine.
All packages are updated.

`ns.2004 <- weathercan: :weather_dl(station_ids = c(6923, 42243),
start = '2004-04-01', end = '2004-07-31', interval = "hour")`

Error Message
[code]

[2021-01-14 22:16] steffilazerte commented on #107
Yes, this is expected as ECCC update the weather data this morning.

I'm working on a fix now and hope to have it to CRAN this evening. The upside is that one of the changes ECCC made was including Precipitation for hourly data!

[2021-01-14 23:36] #107 closed

[2021-01-15 15:22] steffilazerte commented on #107
v0.5.0 is now on CRAN and should fix this problem

[2021-01-15 21:27] FraserHemis opened #108 "Problem with `mutate()` input `html`."
## Expected Behavior

weather_18 <- weather_dl(station_id, interval='hour')
I was trying to download data from a station (10868). I was expecting the data.

## Current Behavior

Erreur : Problem with `mutate()` input `html`.
x schannel: next InitializeSecurityContext failed: SEC_E_ILLEGAL_MESSAGE (0x80090326) - This error usually occurs when a fatal SSL/TLS alert is received (e.g. handshake failed

[2021-01-15 22:04] boshek commented on #108
This is a duplicate of #104

@FraserHemis have you tried any of the troubleshooting outlined in that thread?

[2021-02-03 22:46] #108 closed

[2021-02-25 20:36] rajibshibly opened #109 "Getting errors in obtaining hourly data"
## Expected Behavior
I have weathercan version 0.5 installed in R 4.04. I am trying to obtain all hourly data for the following station but having error message

Gander <- weather_dl(station_ids = 30346)

I get the following error message below:
Error: Problem with `mutate()` input `html`.
x could not find function "validate_key"
i Input `html` is `purrr::map(...)`.

## Current Behavior

## Steps

[2021-03-01 15:56] steffilazerte commented on #109
Hi! Thanks for reporting the bug.

Hmm, I think there maybe something up with the internal caching done by the memoise package. What is your version of memoise?

[code]

What happens if you update memoise, restart R and try again?

[code]

If this fixes the problem, I'll increase the minimum version of memoise required.

[2021-03-01 15:59] #104 closed

[2021-03-03 19:18] rajibshibly commented on #109
I updated all the packages and the error got fixed.
Thanks
Shibly
    On Monday, March 1, 2021, 12:26:32 PM GMT-3:30, Steffi LaZerte <notifications@github.com> wrote:

Hi! Thanks for reporting the bug.

Hmm, I think there maybe something up with the internal caching done by the memoise package. What is your version of memoise?
packageVersion("memoise")

What happens if you update memoise, restart

[2021-03-03 19:42] steffilazerte commented on #109
Great glad to hear it!

[2021-03-03 19:42] #109 closed

[2021-03-11 18:47] steffilazerte opened #110 "Add package visions"
- [ ] Roadmap/Lifecycle statements
  - What is the goal of weathercan? What do we want to add, what don't we want to add?
- [ ] code_design.md
  -  What quirks are there in the code? What design decisions should be clarified?

[2021-03-21 22:58] francesc2 opened #111 "Error any_of is not an exported object from "namespace:dplyr""
Hi all. I wanted to use a simple function of weather_dl but got some errors. I thought I should update my R to 4.0 and also my weathercan to the newest version. However I still get the error:

[code]

**Error: 'any_of' is not an exported object from 'namespace:dplyr'**

[2021-03-22 02:08] steffilazerte commented on #111
Hmm try updating dplyr:install.packages("dplyr") Or all your packages:remotes::update_packages()Let me know how that goes!SteffiOn Mar 21, 2021 5:58 PM, francesc2 ***@***.***> wrote:
Hi all. I wanted to use a simple function of weather_dl but got some errors. I thought I should update my R to 4.0 and also my weathercan to the newest version. However I still get the error:
library(weathercan)
libra

[2021-03-26 23:44] CamMakoJ commented on #111
Hrmm im having the same error as mentioned prior - I have updated all my packages here is the trace on the error:

Error: 'any_of' is not an exported object from 'namespace:dplyr'
Run `rlang::last_error()` to see where the error occurred.

<error/rlang_error>
'any_of' is not an exported object from 'namespace:dplyr'
Backtrace:
  1. weathercan::weather_dl(...)
 24. base::.handleSimpleError(...)
 25

[2021-03-27 00:52] boshek commented on #111
@CamMakoJ Can you post the results of sessionInfo()? A strange error as any_of is definitely exported by dplyr.

[2021-03-27 07:07] CamMakoJ commented on #111
Getting station: 2205
Formatting station data: 2205
Error: 'any_of' is not an exported object from 'namespace:dplyr'
Run `rlang::last_error()` to see where the error occurred.

R version 3.6.1 (2019-07-05)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 10 x64 (build 19042)

Matrix products: default

locale:
[1] LC_COLLATE=English_Canada.1252  LC_CTYPE=English_Canada.1252
[3] LC_M

[2021-03-27 14:32] boshek commented on #111
Ok that helps. @CamMakoJ you haven't actually updated your packages. You have dplyr 0.8.3 but the current version is 1.0.5. Try running update.packages(). That should fix this.

[2021-03-27 15:14] steffilazerte commented on #111
Thanks @boshek, I'll try to make this a priority to update the package requirements for dplyr. Not sure I want to push to cran just for that though 😐

[2021-03-27 15:37] boshek commented on #111
This is a great tool to check dependency version requirements: https://shiny.andyteucher.ca/shinyapps/rver-deps/

[2021-04-08 15:39] urbaingeo4455 commented on #88
Hello WeatherCan Team,

First off, thank you for all the hard work you put into WeatherCan. It was the package that got me started in R and I am loving it!

Unfortunately I am also having an error when trying to download climate normals from a specific station:

n <- normals_dl(climate_ids = "6046767")
Error: Problem with `mutate()` input `normals`.
x Not Found (HTTP 404). Failed to access climate

[2021-04-09 15:07] steffilazerte opened #112 "HTTP 404 Error downloading climate normals"
Hello WeatherCan Team,

First off, thank you for all the hard work you put into WeatherCan. It was the package that got me started in R and I am loving it!

Unfortunately I am also having an error when trying to download climate normals from a specific station:

n <- normals_dl(climate_ids = "6046767")
Error: Problem with `mutate()` input `normals`.
x Not Found (HTTP 404). Failed to access climate

[2021-04-09 15:16] steffilazerte commented on #112
Hi @urbaingeo4455 I'm glad you're enjoying weathercan and so happy to hear that it inspired you to check out R!

I've moved your comment to a new issue as it was unrelated to the issue you commented under. For next time, ideally for this kind of thing you would open a new issue. Your problem relates to an error, but this issue reflects getting access to normals data from a different source so they

[2021-04-09 18:13] steffilazerte commented on #111
@boshek Unfortunately that tool is only for figuring out your minimum version of R, not the minimum version required by your dependencies. But ah well! Still a useful tool!

[2021-04-09 20:40] steffilazerte commented on #88
@cgquick I've finally gotten around to changing the climate normals source to https://climate.weather.gc.ca/ which has more stations (and now normals to 1971-2000. 1961-1990 too but they're missing climate ids so are tricky).

If you're interested and willing, could you test it out?

To install/test the dev version:

[code]

[2021-04-11 14:47] urbaingeo4455 commented on #112
Hi Steffi,

You're exactly right! Although I did initially try updating my packages, I missed on the console that some (including dplyr) had failed.

I've since updated all the relevant packages and everything seems to be working correctly now.

Behavior before:

![Before fix](https://user-images.githubusercontent.com/57878964/114308504-49ec2100-9ab2-11eb-8616-6d41ac4b8184.PNG)

Behavior after:

!

[2021-04-15 09:13] rajeshroy402 commented on #86
You can try to reinstall the certificates:

Make sure first that you have certificates installed on your Debian in `/etc/ssl/certs.`

If not, reinstall them:

`sudo apt-get install --reinstall ca-certificates`

Since that package does not include root certificates, add:

[code]
Make sure your git does reference those CA:

`git config --global http.sslCAinfo /etc/ssl/certs/ca-certificates.crt`

[2021-04-15 19:50] steffilazerte opened #114 "Release weathercan 0.6.0"
Prepare for release:

* [x] Check [current CRAN check results](https://cran.rstudio.org/web/checks/check_results_weathercan.html)
* [x] [Polish NEWS](https://style.tidyverse.org/news.html#news-release)
* [x] `devtools::build_readme()`
* [x] [`urlchecker::url_check()`](https://github.com/r-lib/urlchecker)
* [x] `devtools::check(remote = TRUE, manual = TRUE)`
* [x] `devtools::check_win_***()`
    *

[2021-04-15 21:05] steffilazerte opened #115 "Release weathercan 0.6.0"
Prepare for release:

* [ ] Check [current CRAN check results](https://cran.rstudio.org/web/checks/check_results_weathercan.html)
* [ ] [Polish NEWS](https://style.tidyverse.org/news.html#news-release)
* [ ] `devtools::build_readme()`
* [ ] [`urlchecker::url_check()`](https://github.com/r-lib/urlchecker)
* [ ] `devtools::check(remote = TRUE, manual = TRUE)`
* [ ] `devtools::check_win_devel()`
* [

[2021-04-15 21:07] #115 closed

[2021-04-16 23:23] steffilazerte commented on #67
For now we're using memoise, with a cache expiration of 24hrs. But I'm waiting on webmiddens for sure!

[2021-04-16 23:23] #67 closed

[2021-04-16 23:24] steffilazerte commented on #87
Not sure this is much better than the regular metadata (now that normals are accessed from https://climate.weather.gc.ca)

[2021-04-16 23:24] #87 closed

[2021-04-20 17:38] steffilazerte opened #116 "Vignette: Homogenizing ECCC Data from weathercan"
ECCC weather stations are sometimes replaced, meaning that a new station id is created for data coming from the same location.
It can be tricky to amalgamate data from these stations.

A vignette that covers examples of how to do so would be useful to many users.

[2021-04-22 16:40] steffilazerte opened #117 "Function to identify potentially continuous stations"
ECCC weather stations are sometimes replaced, meaning that a new station id is created for data coming from the same location.
It can be tricky to amalgamate data from these stations.

It would be nice to have a function that acts on downloaded data to identify stations which are potentially paired and could be homogenized.

See also #116

[2021-04-23 18:24] juliasunga opened #118 "Error in validate_key(key) : could not find function "validate_key""
## Attempting download data from St. John's International Airport for a wide-range of dates however problem appears regardless of interval or weather station used.

## Current Behavior

Instead of downloading data, receive error message "Error in validate_key(key) : could not find function "validate_key"

 I then tried installing package "pushoverr" which contains the validate_key function and rec

[2021-04-23 20:08] steffilazerte commented on #118
Hi @juliasunga unfortunately I can't replicate this problem on my computer.

Do you get the same problem with the general README example?

[code]

[2021-04-23 20:11] steffilazerte commented on #118
Ah! Actually I expect it's a memoise package issue! Try updating memoise: `install.packages("memoise")`.

I'm currently working on an update to weathercan, so if that works, I'll up the minimum memoise requirement. I think we had this problem reported here a little while ago, but I don't remember...

[2021-04-23 20:25] juliasunga commented on #118
That got it working! Updating memoise followed by updating dplyr did the trick.

Thanks so much for your help! I don't know how I would've figured out that was the problem package on my own.

[2021-04-23 22:16] steffilazerte commented on #118
You got me on the right track because you were clearly looking for the package that had the problematic function... that's what made me think of "keys" (which are used in caching, which is what memoise does!).

Glad to hear it worked out, I'll add this dependency to the next version

[2021-04-24 15:10] steffilazerte commented on #118
I'm actually going to leave this open as a reminder! It shouldn't happen and I can fix it by increasing the minimum version required for memoise.

[2021-04-29 16:04] KevCaz opened #119 "weather_dl() throws "Error: `guess_max` must be a positive integer""
Hi @steffilazerte,

## Expected Behavior

[code]
Should return a data frame with desired data.

## Current Behavior

[code]

## Steps to Reproduce (for bugs)
1. Install latest version
2. run first example from `weather.R `

## Possible Solution

A quick investigation of mine showed that

https://github.com/ropensci/weathercan/blob/fe13093ebcb51c916c8f1bf011874d12d67081ac/R/weather.R#L659

now retu

[2021-04-29 16:11] KevCaz commented on #119
BTW, on my fork all jobs are currently failing https://github.com/KevCaz/weathercan/actions/runs/796508465.

[2021-04-29 16:15] KevCaz commented on #119
Looks like this is simply due to the fact that the database is currently unavailable! :smile:
https://climate.weather.gc.ca/error/dbdown_e.html
Sorry, I should have checked that first!
I'll wait till it gets back and then I'll close this!

[2021-04-29 16:31] KevCaz commented on #119
This makes me think that it could useful to add a simple function to check if data are available,  something like:

[code]

just a thought.

[2021-04-29 20:03] KevCaz commented on #119
Sure. I'll think a bit about where this feature would be the most useful in the package, and then I'll open a PR, soon (tomorrow or this week-end!).

[2021-04-29 20:18] steffilazerte commented on #119
Awesome! The packages is a bit messy, but in the normals branch (important to work on that one!), `weather_html()` (weather.R), `normals_html()` (normals.R), `stations_dl_internal()`, and `normals_stn_list()` (stations.R) are the four main access points for the ECCC. They all use the urls stored as options loaded by the `.onLoad()` in weathercan-pkg.R

Even if you just want to get it started, I'm

[2021-05-11 21:11] #111 closed

[2021-05-11 22:07] #81 closed

[2021-05-11 22:07] #119 closed

[2021-05-24 18:46] sckott opened #122 "`vcr::vcr_test_path` issue from vcr v1.0.0"
With the latest version of `vcr` just up to CRAN I unfortunately caused breaking changes for some packages depending on `vcr`. The function `vcr_test_path` is the issue. The change to that function worked for some, but it apparently has broken other packages.

We have a proposed fix at https://github.com/ropensci/vcr/pull/236 Can you install that fork `remotes::install_github("dpprdan/vcr@fix/test

[2021-05-25 23:33] sckott commented on #122
Great, thanks for testing that out. I'll ping here again when i've submitted a new version to CRAN

[2021-06-01 16:40] sckott commented on #122
A new version of `vcr` is on CRAN https://cloud.r-project.org/web/packages/vcr/ - CRAN checks for your package should be fixed soon once they are using the new version of `vcr`.

[2021-06-01 17:58] steffilazerte commented on #122
Thanks!

[2021-07-26 15:25] ecwiebe opened #123 "Update docs to reflect installing weathercan from the R-universe"
## Expected Behavior

weathercan should (?) be available on cran...
## Current Behavior

weathercan is not available on cran
## Steps to Reproduce (for bugs)

1. try to download weathercan from cran
## Possible Solution

Fix the "repeated policy violations"?
## Context

https://cran.r-project.org/web/packages/weathercan/index.html reports

Package ‘weathercan’ was removed from the CRAN repository.

[2021-07-26 16:41] steffilazerte commented on #123
Hi @ecwiebe,

Thanks for your issue submission.

Yes weathercan was archived (again). I'm not sure exactly what it was that (again) violated the policies, but it is certainly related to the "not accessing online resources during CRAN checks" policy.

With a package like weathercan that is designed to access online resources it's really hard to adequately test the package and not ever touch online

[2021-07-26 16:55] ecwiebe commented on #123
I tried this and did eventually get it to succeed. It warned me about the stations list needing updating which requires some gdal developer packages (not R) and that needs me to update ports on my Mac and it’s turned into a whole thing.

Just another Monday!

Thanks,

Ed

[2021-07-26 19:02] steffilazerte commented on #123
Ah good to know. The new version allows you to update your stations list directly (old version didn't), and then prompts you to get the newest version. I'll see about making that a little less obtrusive, as you technically don't really need to do it unless you need bleeding edge stations lists.

I'll also see about automatically updating the list elsewhere (online), so perhaps you could download t

[2021-07-26 20:05] boshek commented on #123
One note is that the ropensci already has a r-universe so weathercan is automatically built there. You can install it like so:

`install.packages("weathercan", repos = "https://dev.ropensci.org")`

[2021-07-26 20:10] steffilazerte commented on #123
Right! I forgot! Great point :grin:

[2021-08-10 17:10] AmeerDotHydro opened #125 "weathercan unavailable on CRAN?"
seeing the following when installing weathercan
[code]

ThenI tried to see if the package is available over CRAN

[code]

Any thought on how i should go about it? I was able to use R with no issues previously but since last two weeks there seems to be some issues.

[2021-08-10 17:43] boshek commented on #125
Hi @AmeerDotHydro - just sorting out some issues over here #124. In the mean time you can install weathercan like this:

`install.packages("weathercan", repos = "https://ropensci.r-universe.dev")`

Closing as it this is a duplicate of #123

[2021-08-10 17:43] #125 closed

[2021-08-17 21:37] carlos-arnillas opened #126 "Issues updating stations list"
Hello
I am trying to update the station list using the command:
`stations_dl()`

But I got this message:

[code]

The issue seems to be in line 213 of the stations.R file.
It says:
[code]
however, when I downloaded the data, I saw that the current format is tab-separated, so this simple fix may solve the issue.
[code]

Best,

Carlos Alberto

[2021-08-23 14:42] steffilazerte commented on #126
Hi Carlos, thanks for the report! Yes, we saw that change, but haven't gotten the fixes on the main branch yet. We're hoping to have a fix that will catch tsv or csv in case ECCC changes the format (again!). Will let you know when that's been resolved, thanks!

[2021-08-23 15:29] boshek commented on #126
You could also try installing the work in progress [here](https://github.com/ropensci/weathercan/pull/124) using this one-liner:

`devtools::install_github("ropensci/weathercan", ref = "recursive-fix")`

If possible then you could report back if this has fixed your issue.

[2021-08-23 18:39] #114 closed

[2021-08-23 20:15] carlos-arnillas commented on #126
Have you tried fread function on data.table?

On Mon, Aug 23, 2021 at 11:29 AM Sam Albers ***@***.***>
wrote:

[2021-08-23 22:35] steffilazerte commented on #126
No I wasn't aware of that, we're using readr and httr, luckily all we had to do was change it from

`httr::content(resp, type = "text/csv", encoding = "Latin1")`
 `httr::content(resp, type = "text", encoding = "Latin1")`!

This has been pushed to the main branch so let us know if you get a chance to try it.

[2021-08-25 00:41] carlos-arnillas commented on #126
The updated version fixed the problem!
Thanks!

[2021-08-25 00:41] #126 closed

[2021-09-08 21:24] gilberto-sassi opened #127 "Installing using `devtools`"
Hi guys,

I tried to install `weathercan` using `devtools::install_github("ropensci/weathercan", build_vignettes = TRUE) `, and worked :). But when I tried to load the package with `library(weathercan)`, I got the following messagens:

[code]

I am new to `R`, I have no idea how to solve this error. I am using Ubuntu, and R version 4.1.1.

I apologize if my issue is too simple, and for my poor eng

[2021-09-09 14:35] steffilazerte commented on #127
Hi @gilberto-sassi!

Sometimes all you need to do is restart R after installing the package and try again. If that doesn't work, try updating the package that seems to be having trouble (cachem) `install.packages("cachem")`

If *that* doesn't work, try updating all your packages `remotes::update_packages()`.

Let us know how it goes!

[2021-09-09 15:13] gilberto-sassi commented on #127
It worked!

Thank you!

Gilberto.

[2021-09-09 15:31] steffilazerte commented on #127
Great!

[2021-09-09 15:31] #127 closed

[2021-09-20 16:38] steffilazerte commented on #123
And I have changed my mind and am planning on fixing all the examples/tests to no longer run on CRAN so we can put it back, it'll be a little while before I get to this though!

[2021-09-20 19:11] boshek commented on #123
Could make use of `@examplesIf` and only run them outside of CRAN too

[2021-09-20 19:13] steffilazerte commented on #123
Yup, that's the plan! skip_on_cran(), @examplesIf, and compile the vignettes before hand :grin:

[2021-12-01 16:03] steffilazerte commented on #123
Okay, docs are updated AND weathercan is back on CRAN (hopefully for a while this time!)

[2021-12-01 16:03] #123 closed

[2022-01-11 16:54] steffilazerte opened #129 "Only update stations if ECCC version changed"
stations_dl() should only prompts for update if ECCC version has been updated.

[2022-05-02 12:17] maelle opened #130 "pkgdown failure"
Not sure what's up as I can't reproduce it locally. :thinking:

https://github.com/r-universe/ropensci/runs/6106400501?check_suite_focus=true

[code]

[2022-05-02 12:46] maelle commented on #130
I simply had to retry the failed build :woman_shrugging:

[2022-05-02 12:46] #130 closed

[2022-05-02 14:15] boshek commented on #130
gremlins!

[2022-06-12 17:58] salix-d commented on #117
Was looking at this. Could be done with the coordinates.

Currently, it's a bit harder on the user end because the coordinates kept aren't precise enough, but the data form which it's collected does have a more precise set of coordinates.

While doing that I fount out that the timezone are wrong. For example, the stations in Alberta should be GMT-7 not GMT+7.
Might be due to the issues with lutz/l

[2022-06-13 10:37] steffilazerte commented on #117
Hi @salix-d, thanks for the comments!

For the timezones,  I'm out of town for a bit so can't check directly, but I think it might depend on whether it's the name Etc/GMT+/-X as those ones are [backwards](https://en.m.wikipedia.org/wiki/Tz_database#Area) to what we'd expect (otherwise definitely something to fix!)

Good point about the data quality. It might be easier to use a two phase approach,

[2022-06-13 13:13] salix-d commented on #117
For the data quality, those were the only two stations with bad coordinates and I sent feedback through their website and they were quick to respond.

- For POINT LEPREAU, they're asking the devs to fix that typo.
- For EDMONTON EER, it was a test for a portable weather stations so the exact coordinates were never determined. The person has no clue as to why they got set to 40 N 50 W though.

Ther

[2022-06-13 13:27] salix-d commented on #117
Got a reply for Edmonton Eer :

Not sure if that's gonna be updated on their end, but we can add a line of code to fix the coordinates of that station when updating station data.

[2022-06-30 20:54] steffilazerte commented on #117
Hi @salix-d, I'm back and finally caught up on work so I can take a look at this properly!

**Fixing data in weathercan**
I try really hard not to change data that comes from ECCC. I want weathercan to organize and make it easy for people to get the data, but there can be so many problems with weather data that I think it's really important for issues to be fixed either by ECCC or by the users the

[2022-07-04 15:06] salix-d commented on #117
For lutz it's after you get "America/Vancouver" when you try to get the time zone :
[code]

For the data, I was using the `Latitude` and `Longitue` columns as is. They usually have more precision, or anyway they had more precision for the cases where the decimal degree with only two decimal was hinting they might be the same station. (As in, it alloed to confirmed they weren't). And for that part

[2022-07-04 15:07] salix-d commented on #117
When the next coworking session? Wanna work on that together then?

[2022-07-04 15:15] steffilazerte commented on #117
Ah! I understand the confusion with lutz. I didn't realize that lutz had a `tz_offset()` function, weathercan doesn't use that one! The `tz_offset()` function in weathercan is an internal function found in `R/utils.R` (note that it doesn't have `lutz::` before hand).

For lat/lon, we've always had precision to 2 decimal points. You don't see it in the `tibble` because of the way tibble truncates d

[2022-07-04 17:46] salix-d commented on #117
I was testing the station_dl function which use station_dl_internal (https://github.com/ropensci/weathercan/blob/master/R/stations.R line 137) because that's where the longetude and latitude get removed and it does use `tz_offset()`.

When testing line by line, when I get to 237, I get the error :
[code]

when running `` I weirdly on get this warning :
[code]
I really don't understand why the func

[2022-07-04 19:17] steffilazerte commented on #117
Yes, but my previous comment still holds: weathercan should be using the _internal_ function `tz_offset()`, *not* `lutz::tz_offset()`

In your first example, you've changed the code to use `lutz::tz_offset()` but it shouldn't use that one. I wrote an internal function that just happened to have the same name (I didn't realize that lutz had the same function name). weathercan's `tz_offset()` is her

[2022-07-04 19:24] steffilazerte commented on #117
And if it's still giving you issues, let's have a video chat to figure it out!

[2022-07-04 21:36] salix-d commented on #117
Yes make sense! I misunderstood the internal part. With that function everything runs smoothly ^^'
And the only time zone that's still negative ("Etc/GMT-6") is the one station (LEPREAU) which has coordinates outside of Canada, so it would be flagged anw.

[2022-07-19 14:13] macsmith26 opened #131 "weathercan support for R 4.2?"
Hello, wondering if weathercan will support R 4.2? Thanks!

[2022-07-19 15:25] boshek commented on #131
Hi there - weathercan be able to be installed in R 4.2

Have a look at the installation section of the README: https://github.com/ropensci/weathercan#installation